[2013-04-10 15:13] mounirlamouri opened #3 "The specification should be clear about the UCs and the scope"

[2013-04-10 15:23] mounirlamouri opened #4 "the API shouldn't list the emergency numbers but have a dialEmergency() method instead"

[2013-04-10 15:32] mounirlamouri opened #5 "audioControl shouldn't be part of the Telephony API"
it is a general audio manager issue for the device, not really specific for telephony even if telephony needs it quite a lot.

[2013-04-10 15:33] marcoscaceres opened #6 "serviceIds and defaultServiceIds have one too many ";""
There is a typo in the WebIDL where TelephonyManager's serviceIds and defaultServiceIds attributes have one too many ";"

[2013-04-10 15:39] mounirlamouri opened #7 "UC: send a tone as long as you are pressing a button"

[2013-04-10 15:41] jmcanterafonseca opened #8 "In sendTones the parameter should be called 'tones'"

[2013-04-10 15:43] mounirlamouri opened #9 "TelephonyEvent should be split into two interfaces"
So we don't get |any params| but something that is more specific like "TelephonyCall call".

[2013-04-10 15:50] sicking opened #10 "Rename CallHandler.isConference to CallHandler.conference"
To align with other boolean properties in the platform which almost never uses the 'is' prefix.

[2013-04-10 15:51] jmcanterafonseca opened #11 "rename 'active' state to 'connected' state"

[2013-04-10 15:52] jmcanterafonseca opened #12 "Rename ConferenceCall to MultipartyCall"

[2013-04-10 16:04] jmcanterafonseca opened #13 "addParticipant should be totally rewritten"
We need to define a kind of join method that allows to join the active call to the current held conference call

[2013-04-11 09:30] zolkis commented on #3
Use cases defined in http://www.w3.org/wiki/System_Applications_WG:_Telephony_API.
The API does specify the scope, but that has been challenged as too broad during the F2F.
The new proposed scope was cellular telephony (GSM, CDMA).

[2013-04-11 09:34] zolkis commented on #4
Second part ("have a dialEmergency() method") is rejected. It is not possible to trigger the emergency dial procedure, the modem/network determines if the call qualifies as emergency call. The normal dial() method MUST be used, e.g. dial("112"), or dial("911").

About the first part ("the API shouldn't list the emergency numbers"), did you mean removing the 'emergencyNumbers' property? What is the

[2013-04-11 09:35] zolkis commented on #5
The above statement is only partially true. Telephony does have telephony-specific audio control, but I agree that should not be exposed through the (current version of the) Web Telephony API.

[2013-04-11 09:39] zolkis commented on #11
Rejected. 'Active' is the name used in standards, and it is the intended meaning of the state: the call is connected and active. A call on hold is also connected. Please check and ack.

[2013-04-11 09:44] zolkis commented on #13
The issue raised on the F2F was to remove 'addParticipant', and not to 'totally rewrite' it.

Before removing it, is should be considered whether the Telephony API wants to carry the semantics of GSM/CDMA specifications (and break if/when they change as a result of wider adoption of IMS), or does it choose to model the user interaction needed to manage multiparty calls, which is stable and indepen

[2013-04-11 09:52] zolkis opened #14 "consider using System Messages to wake up dialer on incoming call"

[2013-04-15 08:16] zolkis commented on #7
This is not possible to implement with many middleware. In addition, in some cases it must not be manually controlled, see 4.2.4 in http://www.etsi.org/deliver/etsi_ts/101200_101299/10123502/01.01.01_60/ts_10123502v010101p.pdf .

The current API supports setting the tone duration (aka mark) and the gap (aka space), and should be enough for every application. The original use case is not to "send a

[2013-04-15 08:20] zolkis commented on #13
"We need to define a kind of join method that allows to join the active call to the current held conference call"

That is already defined: 'join' called without any parameters.

[2013-04-15 12:33] zolkis commented on #12
Rejected. The AP was to use ConferenceCall name and explain that it refers to multiparty calls.

[2013-04-15 12:33] #12 closed, assigned to nobody

[2013-04-15 12:51] zolkis commented on #5
Removed.

[2013-04-15 12:51] #5 closed, assigned to nobody

[2013-04-15 12:54] zolkis commented on #6
Fixed.

[2013-04-15 12:54] #6 closed, assigned to nobody

[2013-04-15 12:58] zolkis commented on #8
Fixed.

[2013-04-15 12:58] #8 closed, assigned to nobody

[2013-04-15 13:01] zolkis commented on #10
Fixed.

[2013-04-15 13:01] #10 closed, assigned to nobody

[2013-04-15 13:45] zolkis commented on #9
Splitted to TelephonyEvent with a parameter named 'call' representing a TelephonyCall object,
and a TelephonyServiceEvent with a parameter named 'serviceId' representing the telephony service id to which the event occured.

[2013-04-15 13:45] #9 closed, assigned to nobody

[2013-04-15 14:16] mounirlamouri commented on #4
.emergencyNumbers would help fingerprinting given that it leaks information such as the country the user is currently in.

I also, I do not want a .dialEmergency() but a .dialEmergency('number'). That means the caller would explicitely say that he wants to call that number as an emergency number. Such method wouldn't work if the emergency passed number isn't an emergency number. If it is one, it w

[2013-04-15 14:20] mounirlamouri commented on #7
CC @sicking who mentioned that UC during the F2F.

[2013-04-15 14:29] zolkis commented on #4
As said, dialEmergency('number') cannot be implemented.
dial(emergencyNumber) is the only way.

So basically you are suggesting removing the 'emergencyNumbers' property, but I still don't see the justification. The app can still hide it from the user. Do you want to prevent the _dialer_ app from knowing that information at all? It already has dialer privileges, and already will have access to cell

[2013-04-15 14:48] zolkis commented on #13
The following changes are proposed:

From ConferenceCall
- remove the 'addParticipant()' method
- for simmetry, remove the 'removeParticipant()' method, and use disconnect on the participating TelephonyCall object instead

From TelephonyCall
- remove the optional parameter from the 'join()' method

There are at least 2 non-breaking ways forward when IMS/SIP calls will be supported:
1. add back the

[2013-04-15 15:29] marcoscaceres commented on #11
Reopening. We should really do what is best for developers, not what is in standards that developers won't read. If you feel that "active" is the right thing for developers, please close again. Personally, it think connected makes more sense from a developer standpoint.

[2013-04-15 15:31] marcoscaceres commented on #6
@zolkis please be sure to close bugs through pull requests. Otherwise, we don't have a record of what commit closed what bug. Please alway be sure that your pull requests are reviewed by at least one person (e.g., the person who filed the bug).

[2013-04-15 15:33] jmcanterafonseca commented on #11
oh absolutely. onactive seems totally broken and unusable

2013/4/15 Marcos Caceres notifications@github.com

[2013-04-15 15:34] marcoscaceres commented on #11
heh, well, I wouldn't go as far as saying "totally broken and unusable". But it does raise an eyebrow in what it could mean in the mental model of a telephone call :)

[2013-04-15 15:45] sicking commented on #7
What is the recommended way to use the current API to implement a dialer?

If the UI simply uses a hard-coded tone length when the user presses a button then the user is stuck if that hard-coded length is not long enough.

If the UI measures how long the user holds the button it means that the app can't start sending the tone until the user has held and then released the button. This is a very con

[2013-04-15 16:23] zolkis commented on #11
Yes, exactly for the sake of the intended developers, 'active' makes more sense.
'connected' is erroneous, for reasons outlined above.
'active' is correct. Both telecoms specs and middleware implementations use that. For dialer developers, who have to know telephony (for certification reasons), it is more correct to use 'active'.
If you don't like it, please suggest alternatives.
We should not spe

[2013-04-15 16:29] zolkis commented on #7
The mark and space depend on telephony network. Some impose that it is not bigger than a certain value, some impose it is not less. There is a golden range which is usually used. Some middleware like ofono do not expose start/stop, only setting the mark and space.
How would the user select between the API setting mark/space vs start/stop in the scenario described by you?

[2013-04-15 16:33] zolkis commented on #6
I have included the issue number and link to the commit comment. As I am the committer, I could file a pull request to myself, which I can do next time - or should I fork your repo, file a PR to you, then you'd file a PR to the committer (me)?

[2013-04-15 16:33] marcoscaceres commented on #11
@zolkis. agree, we should not bikeshed too much. I fear that it will come up again so it's good to be prepared:
1. You state, "oth telecoms specs and middleware implementations use that". It would be good to have a ready list of specs to point to (or quotes from the specs), if you don't have those already. That gives the claim credibility and clarifies why "active" was chosen over "connected".
2.

[2013-04-15 16:55] zolkis commented on #6
Actually, if we want to track issues, we must mention the issue number in the commit messages for sure, then of course we could also use pull requests and leaving time for review.

[2013-04-15 17:01] zolkis commented on #11
A call on hold is connected (from signaling point of view) and not active, because call states have 3 dimensions: call control, hold control, multiparty control.
The GSM spec suite I refer to is included in the spec (to be moved to references). Yes, they ALL use 'active'.
Introducing another term would create confusion.
My policy is to use the telephony terms, and if someone has doubts, should rai

[2013-04-15 17:05] marcoscaceres commented on #6
The way I do it is:
1. fork the repo from sysapps to my own space on GH.
2. make changes.
3. send PR back to sysapps. If the PR is closing some particular bug, I just say "potentially closes #X".
4. wait for integrator (or others in the WG) to review - accept/reject.
5. if accepted, then the bug addressed in the PR is also be closed.

So, yeah, mentioning the issue number is good because GH automa

[2013-04-15 17:09] etiennesegonzac commented on #7
Looks like the GCF certification test for DTMF includes: "While on a call, DTMF tone should play as long as button is pressed." [1].

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=815439

[2013-04-15 17:16] marcoscaceres commented on #11
Thanks for the clarification. Ok, just keep in mind that a few of us here are new to the telephony side of things, so please be patient when we ask questions (well, probably just me :)). As you say, there are always good reasons for why things are named the way they are, but we need to make sure WG members understand the rationale and that we make sure developers who might have had little exposure

[2013-04-15 17:16] zolkis commented on #11
I think what would be helpful here is to invite telephony experts who would review/cross-check these kind of issues (and anyone could of course continue to raise issues). But as Bryan pointed out on the mailing list, there is no point in starting lengthy education/re-education in telephony, it is too big for that, and it is driven by standards. In addition, the targeted developers are _dialer_ dev

[2013-04-15 17:17] marcoscaceres commented on #11
@zolkis thanks for the links. I'll generate the references.

[2013-04-15 17:19] zolkis commented on #11
Thanks Marcos, this is _very_ helpful. Others will need this, as well (e.g. NFC guys have just asked).

[2013-04-15 17:21] marcoscaceres commented on #11
I need a "key" for the "Basic Call Handling". Would [[GSM-CALL]] be ok?

[2013-04-15 17:22] marcoscaceres commented on #11
Here is the first:

[code]

[2013-04-15 17:26] marcoscaceres commented on #11
The publisher is actually "3GPP", right?

[2013-04-15 17:27] marcoscaceres commented on #11
Here is a proposal for the second reference. Please feel free to edit:

[code]

[2013-04-15 17:42] zolkis commented on #7
I could not quickly find the test case, please provide a GCF link if possible. The bugzilla link does not seem to contain reference.
If the request is valid, and if I understand it right, then we need a different DTMF interface on the TelephonyCall interface with start/stop functionality, supposed to work only while the call is active, and keep the current interface on TelephonyManager. Could you

[2013-04-15 17:44] zolkis commented on #11
Yes, 3GPP is the publisher.
I also used ETSI specs, I will send a list of few links later.

[2013-04-15 17:46] etiennesegonzac commented on #7
If don't have direct access to the GCF stuffs,  you can try to contact the reporter of the bug.

[2013-04-15 17:58] zolkis commented on #7
OK, I will get this checked. The problem is that TS 27.007 does not support long tones (see C.2.11.-12.) An innocent question: is this actually supported in your modem? Some vendors probably do, but this does not seem to be standard, so I really need the GCF reference to accept the use case as generic.

[2013-04-15 18:31] sicking commented on #7
Oh, yes, I definitely think that these functions should only work when there is an active call. You should not be able to use these function to place a call. Sorry if that wasn't clear. I think the same restriction should apply to the sendTones function.

[2013-04-15 18:34] sicking commented on #7
I would prefer to put the functions on the TelephonyManager interface still though. Otherwise it creates a lot of strange edge cases when you are on a conference call since you can't send the tones to just one person if several are connected in a conference.

[2013-04-15 20:20] zolkis commented on #7
Jonas - DTMF messages can generally be sent in the active state of a call in speech transmission mode or when a traffic channel is available during setup or release and the progress indicator IE has been received. So not only during an active call. Conf calls have voice channel merged by network, let's not mess them in: when a call is in a conference, you cannot use anything but disconnect() on th

[2013-04-15 20:58] zolkis commented on #7
Now wait for a moment. Jonas, could you tell how exactly are you implementing this start/stop, since you seem to use AT+VTS [1], which does not support long tones [2]? Am I looking in the right place?
[1] https://github.com/mozilla-b2g/android-hardware-ril/blob/master/reference-ril/reference-ril.c line 1424
[2] http://www.etsi.org/deliver/etsi_ts/127000_127099/127007/08.05.00_60/ts_127007v080500p.

[2013-04-15 21:26] sicking commented on #7
We should definitely put sendTones and startTone/endTone on the same object. The two do the same thing with sendTones just providing a more convenient syntax if you are sending a particular number sequence rather than reacting to the users presses on a keypad.

And we should make it possible to use those functions when on a conference call since it would be a surprising UI if the numeric buttons s

[2013-04-15 21:30] sicking commented on #7
And I'm happy to leave it to others to decide which exact states these functions should work in. As long as they work at least in all states required by the GSM standard. I would expect the functions to work in exactly the same states that enable the transmission of audio from the microphone.

My point is that I don't think it should be possible to use sendTones or startTone/endTone to dial a numb

[2013-04-15 21:46] zolkis commented on #7
To summarize: currently there is no proof you can possibly implement start/stop with a modem. Even if you did, the current way to do it is via the +VTS command by specifying the tone [+ duration], as the current API supports it, and as the vast majority of modems support it. Now from what I've heard the GCF refers to the mobile terminal /modem, rather then to the phone UI, so it may even happen th

[2013-04-16 08:15] mounirlamouri commented on #4
dialEmergency('number') is implementable, we have that in Firefox OS. Why do you think it is not implementable? The behaviour would be simple: if |number| isn't an emergency number, the call would fail.

The problem is not to hide the emergency numbers from the users but from the application. Also, the emergency numbers might be various, and the application will not know what they mean. Some Europ

[2013-04-16 08:31] zolkis commented on #7
BTW in Gaia it seems the way you are using the start/stop is to emulate the sendTone(tone, duration).
https://github.com/mozilla-b2g/gaia/blob/master/apps/communications/dialer/js/keypad.js

[2013-04-16 08:49] etiennesegonzac commented on #7
Only for the DTMF tones initiated from bluetooth.
The regular flow is startTone on mousedown and stopTone on mouseup.

And it is working, if you call a B2G phone, then long press a key on the B2G phone's keypad you'll hear the long DTMF tone on the calling device.

[2013-04-16 10:13] zolkis commented on #7
"The regular flow is startTone on mousedown and stopTone on mouseup."

That is broken. I am not here to fix your platform, but how do you ensure minimum duration that way? Trust the user to know the network timing and pray that your system's latency doesn't screw it up?

"And it is working, if you call a B2G phone, then long press a key on the B2G phone's keypad you'll hear the long DTMF tone on t

[2013-04-16 10:15] zolkis commented on #7
So what is the resolution? Generally the sendTones() functionality covers all a dialer needs to transmit tones correctly. If you need startTone/stopTone, it sounds like a private method of your platform, since it's modem dependent. But it is impossible to implement it on systems where the modem uses +VTS, therefore IMO it should not be part of the Web API at this moment, in this version.

If we so

[2013-04-16 10:21] etiennesegonzac commented on #7
We just add a minimum delay, that's probably why you thought we were just using it in a `startTone(tone, duration)` fashion.

[2013-04-16 10:27] etiennesegonzac commented on #7
Like I said, we're sending the tone from the B2G device, hearing it on the other one.

We don't hear the DTMF tone  from the B2G device sending the tone, we're actually just playing a matching tone for the user. If we de-activate the non-DTMF tone, we only hear the tone on the other end, so pretty sure it goes through the network :)

[2013-04-16 10:39] zolkis commented on #7
"If we de-activate the non-DTMF tone, we only hear the tone on the other end, so pretty sure it goes through the network"
I don't challenge that, it also works for Nokia phones (see above), but doesn't work for iPhone. If you read my previous comment, the point was the iPhone did not need this feature for certifications, it is a 20 years old GCF requirement, losing importance today, and it shifts

[2013-04-16 11:44] zolkis commented on #7
However, we could have a generic API which deals with such special cases too. We could have something like these options:
- optionally add a 'boolean dtmfLongPressSupported(optional DOMString serviceId)' method to TelephonyManager, and startTone() and endTone() which would fire NonSupported error if the feature is not supported
- or add a nullable
  'DtmfControl startTone?(DOMString tone, optional

[2013-04-16 12:26] zolkis commented on #4
I have checked your implementation, but I disagree, it does not implement emergency dialing. What you actually implemented is "we are now in emergency-only mode so try call this number and return error if does not trigger emergency mode", and name it dialEmergency, which is misleading.
It is not the UI who decides the call is now in emergency mode. The way it actually works is that you dial the nu

[2013-04-16 13:39] zolkis commented on #4
As for removing the 'emergencyNumbers' property: we have a use case which requires this property: while PIN code query, if the user types an emergency number, a new button is shown permitting emergency dialing.
Therefore the application handling the PIN query MUST know the emergency numbers.
They can be fetched from the network, modem and SIM card (3GPP 31.102)
There is the AT+CEN command for quer

[2013-04-16 18:35] sicking commented on #7
I don't think we need to have a separate DTMF object unless the use cases warrant it. Whether certification requires holding the button to continuously send the tone or not, I think it's a UI which most users expect and which applications will want to support. I know we definitely want to support it in Firefox OS.

I think simply adding
void startTone(DOMString tone, optional DOMString serviceID)

[2013-04-16 19:53] zolkis commented on #7
"I think it's a UI which most users expect and which applications will want to support. I know we definitely want to support it in Firefox OS."

OK, we change arguments and say that it is supported in FF OS and users want it. I'd say the users don't care about long press vs default mark/space, since the use case is to send DTMF, not to play music :). It does not work on the iPhone and it is not a

[2013-04-16 20:14] zolkis commented on #7
@sicking "I don't think we need to have a separate DTMF object unless the use cases warrant it."

We will likely introduce the TelephonyService objects anyway, for supporting network, sim, supplementary services, etc. DTMF could be part of this, too. This would clean the TelephonyManager from all the optional 'serviceId' constructs, resulting in simpler, more coherent and better designed API. Note

[2013-04-16 22:48] sicking commented on #7
Like I said, I'm happy to add error handling if someone is planning on shipping a web runtime that implements this API on hardware that doesn't support start-tone/end-tone. Is that the case? If not, I don't understand the benefit of adding it?

[2013-04-16 23:00] zolkis commented on #7
OK, let me try to do it using an error if not supported (or should it be exception?)
I will also send a proposal with TelephonyService.

[2013-04-17 08:23] zolkis commented on #4
As for whether do we need an extra dialEmergency() method besides dial().
In GSM there is an emergency call initiation procedure after mobility management channel is established. The problem is that modems implement emergency calls in too many ways. Telephony middleware seem to diverge too in what is left to dialer apps and what is assumed to be done in the modems.  In addition, we have the CDMA s

[2013-04-17 10:40] hsinyi commented on #7
Hi all,
According to "3GPP TS 03.14 -- Support of Dual Tone Multi-Frequency Signalling (DTMF) via the GSM System"[1], it clearly shows "On receipt of a START DTMF message, the MSC will connect the correct dual-tone to line. This tone will remain connected until either the call is cleared or a STOP DTMF message is received." in Section 6.2. You may also refer to Figure 1 which presents "Key X Relea

[2013-04-17 11:01] zolkis commented on #7
@hsinyi That is the air interface, obviously, which I also know how it works. I was speaking about the modems being the problem... Apart from the new firmware on the IFX modems and the Nokia ISI modems, it seems that no modem  supports long press ATM. For sure, there are a lot (majority) of modems which don't support it. On those you cannot implement start/stop, that's it.

Therefore you have to d

[2013-04-17 12:19] zolkis commented on #7
As an alternative, this is how the same problem is solved in a multi-protocol framework like Telepathy:
http://telepathy.freedesktop.org/spec/Channel_Interface_DTMF.html
"Start sending a DTMF tone to all eligible streams in the channel. Where possible, the tone will continue until StopTone is called. On certain protocols, it may only be possible to send events with a predetermined length. In this

[2013-04-17 15:44] hsinyi commented on #13
"for simmetry, remove the 'removeParticipant()' method, and use disconnect on the participating TelephonyCall object instead"

Does "disconnect" indicate splitting a participating telephonyCall from the ConferenceCall or simply releasing the telephonyCall?

[2013-04-17 16:06] zolkis commented on #13
"Does "disconnect" indicate splitting a participating telephonyCall from the ConferenceCall or simply releasing the telephonyCall?"
Releasing the participating call. Start disconnect multiparty transaction with the call id of the call to be released; the network will initiate the call clearing procedure towards the served mobile subscriber as defined in GSM 04.08 with the transaction identifier co

[2013-04-17 16:36] hsinyi commented on #13
Don't we need 'split' function to separate a remote party from a conference call? See GSM 22.084, sec. 1.3.8.2

[2013-04-17 17:25] zolkis commented on #13
No, we don't split, we release the call. Facility/Disconnect.

[2013-04-18 11:06] hsinyi commented on #13
I can easily imagine the use case of creating a private channel with a single participant. Why does this proposal not support the function, especially this function is mentioned in spec?

[2013-04-18 12:39] zolkis commented on #13
Yes, _that_ is supported by the 'split()' method, which is still there :). Perhaps we should wait until I update the spec, and do a review then.

[2013-04-18 15:10] hsinyi commented on #13
Ha, I see. I thought you're gonna get rid of split() because your proposal above didn't mention that. Sorry for the noise and looking forward to an update. :)

[2013-04-23 11:07] marcoscaceres commented on #11
@zolkis when you can, please file a separate bug for the ETSI specs. I've [sent a PR to Respec](https://github.com/darobin/respec/pull/205) for the two refs above.

[2013-05-02 09:58] marcoscaceres opened #15 "Update Latest Editor draft link"
http://www.w3.org/2012/sysapps/telephony/

[2013-05-07 08:15] zolkis commented on #15
done, will make a PR

[2013-05-07 08:40] zolkis commented on #11
@marcoscaceres Thank you for fixing the refs. I think the GSM-CALL is enough reference for now. The ETSI specs are the same, just collected in a different way.

[2013-05-07 08:41] zolkis commented on #11
I am closing this issue, with the resolution to keep the 'active' call term for a connected call which also has the media resources. A call on hold is also a connected call, without media resources.

[2013-05-07 08:41] #11 closed, assigned to nobody

[2013-05-07 08:42] marcoscaceres commented on #11
@zolkis no probs. Happy to help.

[2013-05-07 08:45] zolkis commented on #3
Added clarifying comment to the Introduction section, with link to the use cases.

[2013-05-07 11:19] marcoscaceres opened #17 "Evaluate spec for use of Promises"
The spec should be evaluated for potential uses of Promises. There are a number of places where Events are being used to deliver Errors async, where a future would be more appropriate.

[2013-05-07 12:10] marcoscaceres opened #18 "Which task queues to use?"
There are places in the spec where events are being generated and then queued, but no particular task queue is specified. We need to check if we can hook into existing task queues or if we need to define a new one.

[2013-05-08 10:35] zolkis commented on #17
What is the implementation status of Future?

[2013-05-08 10:46] marcoscaceres commented on #17
There is work happening in both WebKit (by @cdumez, I believe) and is planned for Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=856410). I'm not sure what is happening in Chrome, but Alex Russell from the Chrome team has been the lead driver of Futures (so I assume it will be in Blink). In any case, there is strong support for futures from the browser vendors.

[2013-05-08 10:53] zolkis commented on #18
One design point in that is the requirement to be able to give telephony related processes/tasks higher priority (e.g. using cgroups), even to the extent to freeze other processes competing for the same resources as telephony.

[2013-05-08 10:55] zolkis commented on #17
Yes, Chris mentioned there have been some issues (moving spec, etc). I think I will just use a TelephonyRequest pending object, which can use Future in the future, for now I'll just "simulate" it in the implementation.

[2013-05-08 11:02] marcoscaceres commented on #18
Ok, we might have a telephony task source. Should speak to @sicking, @cdumez, @mounirlamouri to see if task queues are just mythical spec things or if they are actually reflected in browser implementations.

[2013-05-08 11:06] marcoscaceres commented on #17
I thought we had consensus to move all the APIs to futures (need to find link from @mounirlamouri in mail archive). Having TelephonyRequest simply won't fly as it will be rejected out of hand if this document goes to Last Call. It's best to remove TelephonyRequest early and fix any issues we find with Futures and its relationship to this API.

[2013-05-08 11:16] zolkis commented on #17
Yes, the consensus was that we will move the API's to use Future's. But if we move the spec to use Future _now_, it must be implementable/usable now. I am implementing the Telephony API now. Does it mean I have to implement Future as well? Yes - but I'd like to avoid that.

[2013-05-08 14:27] marcoscaceres commented on #17
The problem is that if you implement the API and developers start using it, we are going to have problems. This is why we need to push more quickly towards making futures more stable. Also, I would caution doing a serious implementation of the API at this point - though a prototype implementation would be great. The API has barely been reviewed yet and could still go through fairly significant cha

[2013-05-08 14:57] zolkis commented on #17
Nono, it's just a prototype implementation in JS, plus a simple dialer app, just to prove the API design, and have some fun :). So it's not that critical whether I use Future, or a simulation of it, at this point.

But if the spec moves forward and implementations have to use Future, it has to be available. Of course, big changes could still occur (for one, I too have made a proposal - which I am

[2013-05-08 14:59] efullea commented on #4
I am extremely confused about having dialEmergency() without parameters. In those regions with more than one emergency number, each has a different use (police, firemen, a generic one, etc). Not allowing to indicate which of them to dial makes no sense to me.

In addition, the trigger of an emergency call is in some cases the user typing the actual emergency number (e.g. in the application handlin

[2013-05-08 15:02] marcoscaceres commented on #17
Ah! man! that's great to hear! You can just grab the Futures polyfill (it matches the current spec):
https://github.com/slightlyoff/DOMFuture

Also, happy to help with the prototyping. I have a WebIDL library that can be used to do a lot of the conversions.
https://github.com/extensibleweb/webidl.js

Let me know if you want me to help there. I'm happy to plug in the WebIDL stuff if you do the algo

[2013-05-08 15:04] marcoscaceres commented on #17
do the algorithms === code the algorithms in the spec in JS.

[2013-05-08 19:30] zolkis commented on #17
Sounds great, thanks for the heads up. I will look into these.

[2013-05-08 19:48] zolkis commented on #4
@efullea If you are confused, imagine the users of this API... :-p. All use cases you mentioned work using the dial() method. As mentioned earlier in this thread, the 'emergencyNumbers' property is needed e.g. for recognizing emergency numbers typed in through the PIN request dialog. This was the original design and it works, without the need of having a 'dialEmergency' method.

Mozilla pressed on

[2013-05-09 06:46] efullea commented on #4
@zolkis Note your PR which aims at solving this issue is not removing emergencyNumbers. In my view it is not such a critical issue to expose emergencyNumbers to the app, as the assumption is that apps using this API would be trusted. I am though open to workarounds that prevent this numbers to be easily accesible by the app, for instance the method you mention for asking whether a number is an eme

[2013-05-09 10:28] zolkis commented on #4
This already works with the "dial()" method. In flight mode, no telephony service is active, except the default emergency service (as stated in the spec) which only accepts emergency calls. The developers have a single interface for dial(), and it works transparently. The 'emergencyDial()' IMHO is not needed.

Yes, this is a trusted API. As stated above, there is an AT command for fetching emergen

[2013-05-10 01:47] sicking commented on #4
I agree with Zoltan here. I think the amount of privacy leaked by exposing the list of emergency number is IMHO acceptable given that someone that has access to this interface can listen to all incoming phone calls (big privacy implications) as well as place outgoing phone calls (big economic implications).

So I think we should just expose the list of emergency numbers and use the dial() function

[2013-05-10 07:00] zolkis commented on #4
Thanks Jonas, I think this is the simplest, while covering the functionality.

As explained <a href='https://github.com/sysapps/telephony/issues/4#issuecomment-16492932'>above</a>, dialers don't have direct access to the network emergency mode triggering, the modems hide that. Some modems do expose ATD112 (and even that is a "convenience interface"), but most don't, and the telephony middleware I

[2013-05-10 08:12] marcoscaceres commented on #4
FWIW, I think what @zolkis has said makes sense.

[2013-05-10 10:03] #13 closed, assigned to nobody

[2013-05-10 10:04] #7 closed, assigned to mounirlamouri

[2013-05-10 10:04] #15 closed, assigned to nobody

[2013-05-10 13:07] zolkis commented on #4
Closing for now.

[2013-05-10 13:08] #4 closed, assigned to mounirlamouri

[2013-05-15 06:33] zolkis opened #21 "fix conference calls"
Implement the modifications raised on the F2F:
- join() without parameters, meaning: "join all calls on the same telephony service"
- move the named state change handlers (e.g. ondialing, ondisconnected, etc.) to where they belong to: TelephonyCall and ConferenceCall
- remove 'addParticipant' and 'removeParticipant' in this phase
- make sure it works with CDMA 3-way calling.

[2013-05-15 07:32] zolkis commented on #21
Pull request https://github.com/sysapps/telephony/pull/22
@sysapps/working-group-members please check the changes

[2013-05-15 11:34] marcoscaceres opened #23 "CallHandler should be "implemented", not inherited"
CallHandler is superfluous in the spec at the moment, as it's used by two interfaces that don't actually need to inherit it. It is superfluous is that it cannot be used on it's own, so it's really just an abstract base class.

To fix this, we have two options:
1. copy/paste everything from CallHandler to the inheriting interfaces (this will bloat the spec a bit).
2. Keep the current design, but in

[2013-05-15 11:35] marcoscaceres commented on #23
See the following link for details of "implements" and examples:
http://dev.w3.org/2006/webapi/WebIDL/#idl-implements-statements

[2013-05-15 11:43] zolkis commented on #23
Thank you Marcos, you are very helpful, as always. I will do this.

[2013-05-20 10:05] marcoscaceres opened #24 "Definitions should avoid conformance requirements"
The spec states:

The definition should avoid conformance requirements. Put the conformance requirements in the algorithms.

[2013-05-20 10:06] marcoscaceres opened #25 "Text about specs used is out of place"
The following text is out of place:

Should be moved to the introduction.

[2013-05-20 10:07] marcoscaceres opened #26 "Security considerations need details"
The security considerations need to be more detailed - i.e., explain why the API can only be used with trusted content.

[2013-05-20 10:09] marcoscaceres opened #27 "TelephonyManager should not have [NoInterfaceObject]"
There does not seem to be any reason for TelephonyManager to have [NoInterfaceObject].

[2013-05-20 10:10] marcoscaceres opened #28 "Isn't a TelephoneCall just a ConferenceCall with a single participant?"
I'm confused as to why there are TelephoneCalls and ConferenceCalls? Can't they be merged into a single object?

[2013-05-20 10:11] marcoscaceres opened #29 "telephonyManager related text out of place."
The following text should be moved to the telephonyManager section:

"While multiple telephony services may be used for making calls, received calls from all telephony services are handled through this object, since all calls are competing for the same resources, and arbitration is needed."

[2013-05-20 10:12] marcoscaceres opened #30 "Redundant text about ConferenceCall"
The following text is not longer needed:

It is redundant anyhow, as it's the interfaces that define this.

[2013-05-20 10:15] marcoscaceres opened #31 "Text out of place"
The following text should be moved to the TelephonyCall section:

Also, drop the following from the paragraph:

[2013-05-20 10:16] marcoscaceres opened #32 "hideCallerId is wrong type"
hideCallerId should be a boolean, that when missing uses the system default. That gives you the three states, with only using a boolean.

[2013-05-20 10:19] marcoscaceres opened #33 "tone should be a DOMString, not a byte"
tone is defined as a "byte" that "Indicates the DTMF tone. Its value can be any sequence of the following characters (0-9; A-D; *; #)."

In WebIDL, a byte is: "a signed integer type that has values in the range [−128, 127]."

So, A-D, "*", and "#" don't fit :)

[2013-05-20 10:22] marcoscaceres opened #34 "Recommend default values"
For where "If not specified, the implementation MUST provide a default value" appears, the specification should provide recommended values.

This includes ToneParams:
- duration
- gap

(there may be others)

[2013-05-20 10:24] marcoscaceres opened #35 "Call state should be a enum (CallStates), not a DOMString"
The value of `state` attribute for a call should be defined as an enum, not a DOMString.

[2013-05-20 10:28] marcoscaceres commented on #35
Here is the WebIDL for it. Each can then be linked to the appropriate description for the state, as already appear in the spec.

[code]

[2013-05-20 11:21] marcoscaceres opened #36 "emergency numbers can change dynamically"
Because the network can update the emergency numbers dynamically (as can changing physical location), should there be some kind of event for that?

[2013-05-20 11:22] marcoscaceres opened #37 "DTMF should cite Q.23"
Need to add the following reference for DTMF:
http://www.itu.int/rec/T-REC-Q.23/en

[2013-05-20 11:26] marcoscaceres opened #38 "CallHandler should have its own section"
CallHandler should be in its own section.

[2013-05-20 15:04] marcoscaceres commented on #38
Work in progress...

[2013-05-20 15:05] marcoscaceres commented on #23
work in progress...

[2013-05-20 15:22] marcoscaceres opened #39 "Avoid generic error handling"
The spec says:

This should be avoided. There should be no situation defined in which this happens - and if there is, it should be addressed within this spec or in future revisions of this specification.

[2013-05-20 15:25] marcoscaceres opened #40 "Avoid redefining DOM exception/error type semantics"
The spec contains a table that redefines some of the error semantics from the DOM spec. This should be avoided (even if they fit). If the current definitions in the DOM spec are not sufficient, we should enhance them in the DOM spec, not in this spec.

I recommend we remove this.

[2013-05-20 19:27] marcoscaceres opened #42 "XEP 0166 needs a reference"
The spec currently has a hard link. Need to convert to citation:

[code]

[2013-05-20 19:37] marcoscaceres commented on #24
work in progress

[2013-05-20 19:38] marcoscaceres commented on #25
work in progress

[2013-05-20 19:39] marcoscaceres commented on #27
Closed as part of https://github.com/sysapps/telephony/pull/41

[2013-05-20 19:42] marcoscaceres commented on #29
work in progress...

[2013-05-20 19:44] marcoscaceres commented on #30
Closed by https://github.com/sysapps/telephony/pull/41

[2013-05-20 19:49] marcoscaceres commented on #31
work in progress...

[2013-05-20 20:53] marcoscaceres opened #43 "Link to bug tracker"
Would be nice if the spec had a link to the bug tracker.

[2013-05-20 20:55] marcoscaceres opened #44 "tones that hide a caller's id"
There needs to be a reference that specifies how to hide a caller's id (i.e., magic tones that need to be generated before dialing). Or which spec defines that.

[2013-05-21 07:35] marcoscaceres commented on #39
Work in progress

[2013-05-21 07:37] marcoscaceres commented on #40
work in progress

[2013-05-21 08:08] marcoscaceres commented on #42
Work in progress.

[2013-05-21 08:09] marcoscaceres commented on #37
work in progress...

[2013-05-21 08:15] marcoscaceres commented on #42
Added to biblio https://github.com/tobie/specref/commit/0eb8bf6fe63203e482187cc0526aa9d3a53bc8ae. Will appear once https://github.com/darobin/respec/pull/222 goes in.

[2013-05-21 10:00] marcoscaceres commented on #32
work in progress

[2013-05-21 10:07] marcoscaceres commented on #33
work in progress

[2013-05-21 10:50] marcoscaceres commented on #35
work in progress

[2013-05-21 10:52] marcoscaceres opened #47 "Throwing on `multiparty` state"
The spec states:

This needs to be stated in the methods themselves, not in the definition of the state.

[2013-05-21 11:05] marcoscaceres commented on #34
Q.23 doesn't seem to say how long the duration and gap need to be :(

However, Wikipedia states that, for country specific tones:

[2013-05-21 14:21] #23 closed, assigned to marcoscaceres

[2013-05-21 14:21] #38 closed, assigned to marcoscaceres

[2013-05-21 14:24] #32 closed, assigned to marcoscaceres

[2013-05-21 14:25] #35 closed, assigned to nobody

[2013-05-21 17:16] #27 closed, assigned to marcoscaceres

[2013-05-22 04:30] #24 closed, assigned to marcoscaceres

[2013-05-22 04:30] #25 closed, assigned to marcoscaceres

[2013-05-22 04:30] #29 closed, assigned to marcoscaceres

[2013-05-22 04:30] #31 closed, assigned to marcoscaceres

[2013-05-22 04:30] #37 closed, assigned to marcoscaceres

[2013-05-22 04:30] #39 closed, assigned to marcoscaceres

[2013-05-22 04:30] #42 closed, assigned to marcoscaceres

[2013-05-22 04:30] #33 closed, assigned to marcoscaceres

[2013-05-22 04:30] #43 closed, assigned to marcoscaceres

[2013-05-22 07:30] #40 closed, assigned to marcoscaceres

[2013-05-22 07:34] #30 closed, assigned to marcoscaceres

[2013-05-22 07:35] #21 closed, assigned to nobody

[2013-05-22 11:01] marcoscaceres opened #49 "Missing work in progress text"
The SoTD is missing WIP text warning implementers that the spec can change from under them in incompatible ways.

[2013-05-22 14:00] marcoscaceres commented on #49
work started...

[2013-05-22 14:31] marcoscaceres opened #50 "Markup comments - do we still need them?"
The current spec contains a whole bunch of stuff that has been commented out, which makes the spec difficult to edit. Why not delete each comment as a commit? then we have a record that we can search if we want to bring anything back.

If it's ok, I would like to remove the unnecessary comments as described above.

[2013-05-22 14:33] marcoscaceres opened #51 "Attributes, getting and setting"
The spec is somewhat inconsistant about getting and setting attributes. It would be nicer if when getting an attribute, the spec said "When getting, the user agent MUST bla bla". Same for attributes that can be set. This would integrate the spec more nicely with WebIDL's algorithms.

[2013-05-22 14:53] marcoscaceres commented on #51
work started.

[2013-05-22 15:01] marcoscaceres opened #52 "How does a call become "managed" by TelephonyManager?"
For TelephonyManager's `readonly attribute Call[] calls`, the spec says:

It's not clear from the above how a Call became "managed" by the TelephonyManager. That is, with respect from differentiation with ConferenceCall objects that are not in the list.

[2013-05-22 15:49] marcoscaceres opened #53 "Telephony services ids format"
What's the standard format for a telephony service id? I.e., what do they look like as a string? Is there some standard that defines them?

[2013-05-22 15:55] marcoscaceres opened #54 "Setting the defaultServiceId"
The TelephonyManager current has:

Implying that the defaultServiceId can be set. However, it does not define the rules for setting (can I set it to any string?). What happens if it's not a valid service id? etc.

This should be set to readonly till we figure out the way to do it properly.

[2013-05-22 16:10] zolkis commented on #54
The developer can list the available services via the serviceIds array, and set one of the values from there as defaultServiceId. There must be a way to set it. This is a synchronous set operation, since the telephony services do exist and must be enabled in order to be listed. However, it could also be considered an ansync operation, if we want to have some room for confirmation from the backends

[2013-05-22 16:11] marcoscaceres commented on #54
Yeah, that's what I was thinking too.

[2013-05-22 16:14] marcoscaceres commented on #54
Ok, so lets do this:
1. make defaultServiceId readonly.
2. add setDefaultService()
3. when the service changes, service change event is fired.

[2013-05-22 16:15] zolkis commented on #53
They are designed to be an opaque id, managed by the implementation. The spec does not specify the format, only the uniqueness of them.
In my implementation I use a generated part and a part specific to the backend, so that from an id the backend can connect to its own logic. Basically it is a JSON-serialized object of 3 attributes, kind (service or call), generated id, and platform-id.
I think th

[2013-05-22 16:16] zolkis commented on #54
Deal.

[2013-05-22 16:19] zolkis commented on #52
"Managed" means that the only way to get/list a call object is via the interface which manages the call, which can be TelephonyManager or ConferenceCall.
Conference calls in fact are specialized call managers, not calls per se.
This comes from the way conf calls are specified in GSM.
For instance, multiparty call states are orthogonal to call states.

In this sense, we could rename ConferenceCall

[2013-05-22 16:21] zolkis commented on #50
Some of those comments are meant to be there, like call states in GSM, CDMA, then TelephonyService, references to standards, etc. Some others can be removed, like event handlers and other similar stuff.

[2013-05-22 16:25] zolkis commented on #47
I thought it was simpler and more consistent to define this behavior in one place, at the source of the reasoning, rather then in every method of the call interface. The whole thing looks like a workaround, and it comes from the requirement to be able to track each call participating in a conference.

The other, original model was coming from VoIP, where we only deal with call participants, and th

[2013-05-22 16:28] zolkis commented on #36
Yes, I also figured that we may need that event, although in most cases these number are coming from the modem/SIM, when the service gets enabled. Since we already have an event for that, I was on the lazy spec track, let's start without it and see if we can manage. But no big deal adding a dedicated event for it.

[2013-05-22 16:29] zolkis commented on #28
See comments in issues #47 and #52

[2013-05-22 16:30] zolkis commented on #34
IMO this should not be specified, the implementation owns the defaults.

[2013-05-22 16:31] zolkis commented on #26
Indeed, we need a list of threats and resolutions. I have some in mind, will update.

[2013-05-22 16:32] marcoscaceres commented on #34
Right, but this is more to help developers so they know what to expect. They are soft recommendations based on whatever the industry standard is for each.

[2013-05-22 16:32] zolkis commented on #44
That also depends on modem implementation. IMO we cannot add modem impl references. Ref to GSM spec suite should be enough.

[2013-05-22 16:40] marcoscaceres commented on #44
WFM.

[2013-05-22 16:59] marcoscaceres opened #55 "Do we need "readonly attribute boolean conference"?"
It's possible to check if a TelephonyCall is a conference call by doing an instanceof check:

[code]

hence I don't think we need "readonly attribute boolean conference".

[2013-05-22 17:19] zolkis commented on #55
The semantics is that the TelephonyCall is managed by a conference call, hence it's mostly "read-only", with methods blocked, except disconnect(). It is not an instance of ConferenceCall.

[2013-05-22 17:28] marcoscaceres opened #56 "Error attribute of CallHandlers is redundant"
The use of a "readonly attribute DOMError error" on an *Manager doesn't seem like a good construct. Errors should only result from operations or from an event (i.e., shouldn't be part of an manager interface).

I recommend we remove "readonly attribute DOMError error" and make sure that errors go to error handlers or are thrown as exceptions if sync (or are handled by a Future, if we end up using

[2013-05-22 17:42] zolkis commented on #56
If you speak about TelephonyManager, you are probably right.

But TelephonyCall is actually a specialized async handler, where Futures are generic ones. It manages its own state and part of that is error management. Preferably exceptions are avoided in TelephonyCalls, every error case should be managed by the error attribute and a signal.

ConferenceCall is manager and call handler in the same tim

[2013-05-22 17:49] marcoscaceres commented on #55
Ah! Sorry - totally missed that as I haven't gotten reviewing conference calls yet!

This returns true if the TelephonyCall is in the "calls" list for the ConferenceCall. Ok, the spec is wrong then, IMO. Need to move "conference" attribute to the TelephonyCall interface instead of the CallHandler interface. Or can you see any use case for the ConferenceCall have a conference attribute also?

We sh

[2013-05-22 18:10] marcoscaceres commented on #56
So, on CallHandler currently we have both:

[code]

Assuming that error attribute contains the error object, then that could lead to a race condition: the developer might need to update the UI asynchronously, in which time another error could occur in which case they will miss the first error.

Like:

[code]

Better would be if we defined a TelephonyErrorEvent that has its own Error object.

[code

[2013-05-22 21:39] zolkis commented on #56
I agree, let's do that.

[2013-05-22 21:40] zolkis commented on #55
'inConference' sounds good.
The instanceof covers the other half.

[2013-05-22 21:40] #49 closed, assigned to marcoscaceres

[2013-05-22 22:54] marcoscaceres opened #58 "Events should not have [NoInterfaceObject]"
Events should not have [NoInterfaceObject], so they can appear in the global scope.

[2013-05-23 03:56] #58 closed, assigned to nobody

[2013-05-23 07:39] marcoscaceres commented on #56
work started.

[2013-05-23 07:40] marcoscaceres opened #60 "*Event should extend Event, not EventTarget."
The spec currently has:

[code]

But these should be extending Event, not EventTarget.

[2013-05-23 07:53] marcoscaceres commented on #55
work in progress...

[2013-05-23 12:20] marcoscaceres opened #61 "Wrong use of InvalidStateError"
The spec states in a few places:

This should really be a TypeError. However, invalid attribute types and values are handled automagically via WebIDL, so this can be removed.

[2013-05-23 12:20] marcoscaceres commented on #61
started work...

[2013-05-23 13:30] marcoscaceres opened #62 "Spec's markup in not valid HTML5"
The spec's markup is no valid HTML5, which is upsetting my text editor's ability to auto close tags, etc.

[2013-05-23 13:30] marcoscaceres commented on #62
work in progress

[2013-05-23 14:12] marcoscaceres commented on #54
work in progress.

[2013-05-23 15:52] marcoscaceres opened #63 "Use HTML5 Tidy"
The spec is fairly liberal in it's coding style - which means indenting if kinda all over the place. It would be great if we could just run [HTML5 tidy](https://github.com/w3c/tidy-html5) over the spec before doing pull requests instead. That way, Editors don't need to worry about line length and indenting and tidy can just take care of that automagically.

Other specs in the WG are already using

[2013-05-23 18:37] marcoscaceres opened #65 "Add contributing.md file"
See:
https://github.com/sysapps/sysapps/issues/65

And:
https://github.com/blog/1184-contributing-guidelines

[2013-05-23 18:41] marcoscaceres commented on #34
I'm closing as invalid.

[2013-05-23 18:41] #34 closed, assigned to nobody

[2013-05-23 18:42] marcoscaceres commented on #28
Thanks for clarifying! Makes sense now :)

[2013-05-23 18:42] #28 closed, assigned to nobody

[2013-05-23 18:50] marcoscaceres commented on #50
So, I removed the dead interfaces and other minor things. Left all the important ones... we should look at making them part of the actual spec, if they are not already.

[2013-05-23 18:52] marcoscaceres commented on #51
did some more work on this as part of #64, but still have a few more to do.

[2013-05-23 18:53] marcoscaceres commented on #18
Going to add:

[2013-05-23 18:59] marcoscaceres commented on #18
work in progress

[2013-05-23 19:12] marcoscaceres opened #66 "Repeated interface methods should be in CallHandler"
CallHandler can probably own the following method names, even though they have different semantics on the TelephonyCall and ConferenceCall that will implement them:

[code]

In the spec, we just say "If disconnect() is invoked on a TelephonyCall, do X. ... on a ConferenceCall, do Y."

[2013-05-23 19:15] marcoscaceres commented on #53
Ok, we might need to provide some guidance as it could end up revealing privacy sensitive information.

[2013-05-23 19:48] #54 closed, assigned to marcoscaceres

[2013-05-23 19:48] #55 closed, assigned to marcoscaceres

[2013-05-23 19:48] #56 closed, assigned to marcoscaceres

[2013-05-23 19:48] #60 closed, assigned to marcoscaceres

[2013-05-23 19:48] #18 closed, assigned to nobody

[2013-05-23 19:48] #61 closed, assigned to marcoscaceres

[2013-05-23 19:48] #62 closed, assigned to marcoscaceres

[2013-05-23 22:24] #50 closed, assigned to marcoscaceres

[2013-05-24 09:00] marcoscaceres commented on #66
work started

[2013-05-24 09:16] marcoscaceres opened #67 "TelephonyCall removeParty, conferenceId, disconnectReason should be nullable"
At the moment, they return an empty string. This is inconsistant with other parts of the platform for when a value is unknown.

[2013-05-24 09:21] marcoscaceres commented on #63
work in progress

[2013-05-24 09:52] marcoscaceres commented on #65
work started.

[2013-05-24 10:05] marcoscaceres commented on #67
work started.

[2013-05-24 10:10] marcoscaceres commented on #67
`readonly attribute DOMString disconnectReason` should also be nullable. Added it to title of bug.

[2013-05-24 10:12] marcoscaceres opened #68 "disconnect reasons need to be defined as an enum"

[2013-05-24 10:19] marcoscaceres opened #69 "It's not necessary to define any EventHandler attributes"
Because of the the way EventHandlers are wired up, it is not necessary for them to be defined in the same way as other attributes. We just need a table that looks like this:

![screen shot 2013-05-24 at 11 14 07 am](https://f.cloud.github.com/assets/870154/559799/f5f12c2a-c45a-11e2-83d1-71b73aed95bc.png)

The actual prose that fires the events needs to be defined in a life cycle section (that life

[2013-05-24 10:34] marcoscaceres opened #70 "Checking remoteParty phone number"
When dial() is invoked, it's not clear what to do if the following string is sent:

[code]

In other words, should telephone numbers adhere to the appropriate part of [RFC3996](http://www.ietf.org/rfc/rfc3966.txt):

[code]

[2013-05-24 12:20] marcoscaceres commented on #53
Following up, do you think `TelephonyService` is in scope for 1.0?

[2013-05-24 12:42] marcoscaceres opened #72 "Dictionary member definitions should avoid conformance requirements"
The default behavior of when dictionary members are missing should be defined in the methods that consume the dictionaries. Not in the dictionaries themselves.

[2013-05-24 16:04] #65 closed, assigned to marcoscaceres

[2013-05-24 16:04] #66 closed, assigned to marcoscaceres

[2013-05-24 16:04] #67 closed, assigned to marcoscaceres

[2013-05-24 16:09] zolkis commented on #53
In strict sense, no. But it may be a design choice, especially since in Messaging introducing a MessagingService object would simplify many things (and was asked by Mounir on the F2F). Then having a similar concept for TelephonyService, would both align with Messaging, and would be compatible with future versions - since it will be needed in later versions of the spec. So it could make sense to in

[2013-05-24 16:13] zolkis commented on #68
We can define it as dictionary, but there should be a way for an implementation to add platform-specific strings there, too. There are so many disconnect reason descriptions, and so divergent, that I thought a DOMString would be the best. Ofono has solved this problem by only telling the source of the disconnection: "local" (hung up by user), "network" (disconnected by network) and "remote" (hung

[2013-05-24 16:13] zolkis commented on #69
OK.

[2013-05-24 16:17] zolkis commented on #70
I thought that is the responsibility of the implementation. Is there a reason to hard specify it in the spec? The remotePartyId should support phone numbers, SIP and XMPP addresses, and possibly other remote end identifiers. It is actually telephony service specific, and the exact details on how to parse it is owned by the telephony service.

I would also ask others what would they prefer. Of cour

[2013-05-24 19:04] marcoscaceres commented on #17
So, my `TelephonyManager` evaluation is that the following are good fits for futures (as they are asyc in their interaction with the telephony backend, and can result in an error):

From `TelephonyManager`:
- sendTones()
- startTone()
- endTone()

TelephonyCall:
- accept()
- disconnet()
- hold()
- resume()
- redirect()
- transfer()
- possibly join()

We might be able to get rid of some events as a

[2013-05-24 21:18] zolkis commented on #17
My list would be:
TelephonyManager.
    sendTones()
    startTone()
    endTone()

The rest is asynchronous operation controlled by TelephonyCall, which can be considered a special Future. It manages its own state and errors. If there is an error, there should be an event about it.

[2013-05-25 08:49] hsinyi commented on #17
In addition to Zoltan's list, dial() and join() should be probably added
IMHO, as they are asyn and it makes sense that a new call object is
created  and returned when the request succeeds.

I agree with Zoltan on the rest operations controlled by TelephonyCall.

Best regards,
Hsinyi

On 05/25/2013 05:18 AM, Zoltan Kis wrote:

[2013-05-25 13:14] zolkis commented on #17
dial() should return a TelephonyCall, just as it would return a Future. If anything goes wrong with the call (no telephony service etc), it is signalled through an error event, or through a call state change and disconnect reason.

Similarly, join() returns a ConferenceCall, just as it would return a Future - the same way as dial().

The telephony states and use cases are much more complex than wh

[2013-05-27 18:52] marcoscaceres commented on #68
The above three (local, network, remote) might be something we can work with.

[2013-05-27 19:59] zolkis commented on #68
For start, yes. I expect to support more definitions later. As an alternative, we can also keep the current list as enumeration, and then implementations should do a mapping, supporting at least the 3 basic reasons above.

[2013-05-29 15:29] mounirlamouri commented on #3
FTR, I think it would be better if we could get the use cases listed in the specification instead of pointing to a wiki page but this isn't terribly important I guess.

[2013-05-29 21:28] marcoscaceres commented on #3
I agree, but we only really need to do that when we get to LC or CR (need to check the Process document): at some stage, we need to show the Director that the group's requirements for this specification have been met.

[2013-05-29 21:57] marcoscaceres commented on #3
I've created a Last Call milestone and assigned this bug to it.

[2013-06-06 11:08] zolkis opened #73 "change vs update the default service?"
The <a href='http://telephony.sysapps.org/#widl-TelephonyManager-changeDefaultService-Future-DOMString-serviceID'>changeDefaultService</a> method executes the steps for changing the default service. Shouldn't it execute the update steps instead?

[2013-06-06 11:32] zolkis commented on #70
The way telephony numbers are specified in <a href='http://ofono.org'>oFono</a> documentation:

<pre>            The number must be a string in the following format:
                        [+][0-9*#]{1,80}
            In other words, it must be a non-empty string
            optionally prefixed with a '+' followed by 1 to 80
            characters.  The character set can contain numbers,

[2013-06-06 12:28] zolkis opened #74 "remove 'inConference' from TelephonyCall"
Since 'conferenceId' can provide exactly the same information, the 'inConference' property is not needed. So instead of

<pre>if(call.inConference)</pre>

one could write

<pre>if(call.conferenceId)</pre>

Therefore the property could be removed.

[2013-06-06 12:29] #52 closed, assigned to nobody

[2013-06-06 12:30] #44 closed, assigned to nobody

[2013-06-06 13:38] zolkis commented on #51
For readonly attributes, does it add any information saying "When getting, it MUST return..." instead of saying "It MUST return"?

[2013-06-06 14:01] marcoscaceres commented on #51
Yes, because of the way they are reflected in javascript. "Getting" maps to an actual getter - when the spec talks about getting (but not setting), an implementer reads:

[code]

[2013-06-06 14:02] marcoscaceres commented on #51
@zolkis but technically, you are correct - it just makes the spec more consistent and easier to implement because it maps 1 to 1 to concepts in WebIDL and JavaScript.

[2013-06-06 14:05] zolkis commented on #51
OK, I will finish up the rest, and fix the rest of issues linked to FPWD. Thanks for the lot of work you've done so far.

[2013-06-06 14:11] marcoscaceres commented on #51
no probs. I'm just finishing up some stuff over on manifest and was planning to jump back into telephony. If there is anything in particular you want me to work on, please assign it to me.

[2013-06-06 14:14] marcoscaceres commented on #73
Yes, seems it should be using update step.

[2013-06-06 19:43] #72 closed, assigned to nobody

[2013-06-06 19:43] #73 closed, assigned to marcoscaceres

[2013-06-06 19:48] marcoscaceres commented on #74
the problem is that conferenceID is not guaranteed to not return an empty string. If we put that into the spec, then this should be ok.

[2013-06-06 19:50] zolkis commented on #74
OK, I update the description.

[2013-06-06 19:57] marcoscaceres commented on #74
sounds good! :)

[2013-06-06 20:36] #68 closed, assigned to nobody

[2013-06-06 20:37] zolkis commented on #51
Marcos, please check.

[2013-06-06 22:48] marcoscaceres opened #79 "Figures look too cramped"
The figures in the spec need better styling. The are currently too close together and don't stand out properly.

[2013-06-06 22:49] marcoscaceres commented on #51
will check first thing tomorrow.

[2013-06-07 08:24] #79 closed, assigned to marcoscaceres

[2013-06-07 08:30] marcoscaceres commented on #51
Continuing to work on these...

[2013-06-07 08:32] zolkis commented on #69
I started work on adding these tables.

[2013-06-07 08:43] marcoscaceres opened #81 "Dynamically changing arrays could lead to race conditions"
There are a few attributes that are currently defined as an array, that could change dynamically during an application's lifecycle, namely:
- serviceIds
- emergencyNumbers
- calls

This could lead to unexpected behavior and race conditions. For example, the user pops out a sim card or a call hangs up while a script is in the middle of a for loop.

I recommend that we change the above to methods th

[2013-06-07 08:56] marcoscaceres commented on #69
@zolkis If possible, can you ping me on IRC on the w3c server (#sysapps channel)? had some thoughts about these wanted to discuss with you.

[2013-06-07 09:47] #51 closed, assigned to nobody

[2013-06-07 12:11] zolkis commented on #17
Linked to FPWD, for sendTones(), startTone(), endTone(), to update WebIDL + steps. Work started.

[2013-06-07 15:54] zolkis commented on #17
PR #83 closes this. For new opportunities, reopen and update the milestone.

[2013-06-07 15:55] zolkis commented on #69
PR #83 closes this.

[2013-06-07 16:03] marcoscaceres opened #84 "Futures are now Promises"
Futures are now called Promises (as they should have been from the beginning).

They promise me that in the future they won't change this again :smiley_cat:

[2013-06-07 16:03] marcoscaceres commented on #84
work in progress.

[2013-06-07 16:10] zolkis commented on #84
I guess it stays as the same spec, so no problem.

[2013-06-07 16:10] marcoscaceres commented on #84
yep, was only a name change.

[2013-06-07 16:26] marcoscaceres commented on #74
Can this be closed?

[2013-06-07 16:31] zolkis commented on #74
yes

[2013-06-07 16:31] #74 closed, assigned to nobody

[2013-06-07 18:33] #84 closed, assigned to nobody

[2013-06-08 06:00] hsinyi opened #87 "another way to create conferenceCall"
Hi all, sorry for jumping in. I review the current conferenceCall API and have some thoughts that I would like to share with you. :)

In TelephonyCall.join(), we take an empty parameter. That means that 'join()' merges all the calls. The design could work well in the current cellular telephony services, because no more calls than an active call and a held call exist in a single device. But if we w

[2013-06-08 06:23] zolkis commented on #87
We have discussed this on the F2F.

GSM TS 24.084 (e.g. http://www.etsi.org/deliver/etsi_ts/124000_124099/124084/04.00.00_60/ts_124084v040000p.pdf page 7) specifies join to merge all the calls of the subscriber, no matter how many of them, ie.e the semantics is 'join all calls of the subscriber'. So we cannot handpick any call to merge with another.

If there is a protocol where this is possible (

[2013-06-08 09:56] hsinyi commented on #87
Thanks for the comment, Zoltan.

Yes, I remember that we came to a conclusion that discarding .join(optional number), which isn't the one I'm proposing here. Here's difference: removed parameter is a 'number.' In the earlier case we shall dial out a new call with that number, then merging that in sequence.

I know the current API works well with the current spec. And you are right, there's no cell

[2013-06-08 12:27] zolkis commented on #87
IMO we cannot make sure a join(call1, call2) can be implemented in cellular telephony services. Moreover, I don't see the API going that way in the future either. Once we have protocol support, as I said, we could add a new method.

Similarly, when we want SIP/XMPP conference, we will add a new method for that (e.g. addParticipant).

[2013-06-09 05:40] zolkis commented on #87
One thing we could do: rename join() to createConference().

In cellular telephony services, the description will make clear this joins all calls. The participating TelephonyCall objects will be managed by the ConferenceCall, and will have their 'disconnect()' method available for GSM, but not available for CDMA (if we can do this nicer in the API, please suggest).

In SIP and XMPP services, 'crea

[2013-06-10 09:30] hsinyi commented on #87
I don't have more specs. As I said, this proposal wants to provide more flexibility and extensibility, i.e.  leaving a possible way to merge with a specified call, while it still works for the current spec.

Another concept behind the proposal that I didn't mention explicitly is that I hope it could also help resolve ambiguity of having separate methods for making conference calls for different te

[2013-06-10 09:54] marcoscaceres commented on #87
I'm in favor of @zolkis proposal, but tying the availability of methods based on protocols is not ideal. I suggest when disconnect() method is invoked, we either throw a `NotSupported` error or, in the case we use future, just resolve to an error. The same applies to `addParticipant` and `removeParticipant`.

[2013-06-10 09:59] zolkis commented on #87
Thanks Hsin-Yi, then will make this API change to use createConference() on the TelephonyCall although it should work at TelephonyService level (which is not explicitly visible in this API).

Marcos, thanks for the comment, I will do then the error management way for now. But for the long term do we expect that when we introduce VoIP/LTE support, the 'addParticipant' and 'removeParticipant' method

[2013-06-10 10:32] zolkis commented on #87
For instance, when we will support telephony services like call barring, supplementary services etc, only some of the telephony services will have it. For instance:

<pre>
[NoInterfaceObject]
interface TelephonyService : EventTarget {
    readonly attribute DOMString serviceId;
    attribute DOMString displayName; // to be shown in a UI
    readonly attribute boolean  enabled;
    readonly attribu

[2013-06-10 10:33] marcoscaceres commented on #87
It would not be ideal to have different return types for the `createConference()` method based on different protocols (because it then gets confusing as you need to check what protocol the call is using). With the current proposal that removes methods, the way to check this would be to "duck type": `if("addParticipant" in confcall){...`. That's not great.

There is also no way to express this in W

[2013-06-10 10:38] zolkis commented on #87
Thanks, Marcos. So we'd rather use a union of all possible interfaces, and they would work or throw error depending on the context. Not perfect either, and the developer would have to check for the error instead of the existence of the method, but let's start with that.

Yes, with WebIDL we'd need to define different kinds of ConferenceCall objects. Which would reflect the reality, actually :)

[2013-06-10 10:40] efullea opened #88 "Fix startTone method description"
-Description of 'tone' parameter states it is a sequence of the following characters (0-9; A-D; *; #), whereas it shuld be just one of these characters
-Description of 'param' parameter should state that 'delay' should be ignored

[2013-06-10 10:45] zolkis commented on #88
Thanks Eduardo, work started.

[2013-06-10 10:45] efullea opened #89 "Duplicated description of sendTones method"
One starting in line 740 and the other in line 875 of source file.

[2013-06-10 10:48] efullea opened #90 "Links to Error Steps are not working"
Actually I cannot find the description of those error steps

[2013-06-10 10:50] zolkis commented on #88
Note that the 'gap' parameter is used, it is the 'duration' parameter which is ignored.

[2013-06-10 10:52] efullea opened #91 "The description of the join method is assuming the method has a remotePartiy parameter"
See following excerpt:

"The join method when invoked MUST run the following steps:
    If the remoteParty property is equal to the remoteParty parameter of the method call, ...."

[2013-06-10 10:54] zolkis commented on #91
Thanks, good catch. I will fix this in relation with the API redesign suggested in #87

[2013-06-10 10:55] efullea commented on #88
Do we really want to delay the start of that long tone according to the 'gap' parameter? IMO this parameter just makes sense when automatically emiting a sequence of tones (using sendTones), but not in this case. Wjhat is the use case behind?

[2013-06-10 10:55] zolkis commented on #90
OK, have to look up when did it disappear :)

[2013-06-10 10:56] efullea commented on #91
OK, great. Actually I think we should also remove the references to VoIP services as they are not being handled in this version of the API

[2013-06-10 10:58] efullea opened #93 "Call states not applicable to ConferenceCall objects"
It should be mentioned which call states from 'CallState' are not applicable to ConferenceCall objects

[2013-06-10 11:00] zolkis commented on #91
I will look into that, but for instance in the description of telephony services IMO it makes sense, since it is a design target, even at this point. In addition, there have been explicit questions on the F2F on how are we going to handle e.g. SIP/LTE. So this gives a hint of direction.

[2013-06-10 11:00] efullea opened #94 "CallDirection: Transitioning between missed-new and missed"
'direction' attribute in the CallHistoryEntry Interface is readonly. How is it supposed to change from 'missed-new' to 'missed' when the missed call entry is presented to the user and thus no longer new?

[2013-06-10 11:00] zolkis commented on #93
Isn't enough to mention which do? And also, that the rest don't.

[2013-06-10 11:01] zolkis commented on #94
We did not include data API in this version, only the description of what is to be stored. Should we include call history management?

[2013-06-10 11:01] efullea opened #95 "'call' attribute in TelephonyErrorEvent and TelephonyEvent should be of type Call"
... instead of TelephonyCall

[2013-06-10 11:02] #89 closed, assigned to nobody

[2013-06-10 12:22] efullea commented on #93
Either way, but it may be shorter to mention which of them do not apply.

[2013-06-10 12:32] efullea commented on #94
I don't think we need to include call history management. It looks wierd though that all attributes can be set by the system with exception of CallDirection to value 'missed', which AFAIU is the result of an app displaying to the user the record of a call with CallDirection with value 'missed-new'. I propose we merge 'missed' and 'missed-new' into a single value 'missed'. Each app would manage int

[2013-06-10 12:44] zolkis commented on #94
The condition 'missed-new' needs to survive reboots. It has to be in the DB. If any app sees it, it will lose the 'new' flag.

[2013-06-10 13:14] efullea opened #97 "startTone steps should specify on which service to emit the tone"

[2013-06-10 13:17] marcoscaceres commented on #93
I think which do is better from a spec maintainability point of view.

[2013-06-10 13:20] marcoscaceres commented on #90
Oh, got rid of generic error handling a little while ago. I was intending to fix that today as part of an editorial cleanup.

[2013-06-10 13:36] efullea opened #100 "'servicechanged' and 'onservicechanged' naming is misleading"
should be 'defaultservicechanged' and 'ondefaultservicechanged' to reflect that it relates to the default service

[2013-06-10 13:38] marcoscaceres commented on #100
I would not be in favor of this change, even though you are technically correct. "ondefaultservicechanged" that looks like an excessive amount of typing and is fairly illegible.

[2013-06-10 13:39] efullea opened #101 "Description of mandatory disconnect reason values is duplicated"
It is enough to mention the values that are mandatory wthout duplicating the description, and just refer to Disconnect reason enum. Current description is error prone if text needs to be updated.

[2013-06-10 13:41] marcoscaceres commented on #101
Agree. There are a few of these :)

[2013-06-10 13:43] efullea opened #102 "ToneParams: gap does not apply before the first tone"
'Represents the duration in milliseconds of the time gap (space) before a [DTMF] tone.'

should be

'Represents the duration in milliseconds of the time gap (space) between [DTMF] tones.'

to reflect that there is no gap before the first tone

[2013-06-10 13:51] efullea commented on #94
If we assume that is the use case, then we can either remove the readonly from the 'duration' attribute or remove the  CallHistoryEntry altogether. Otherwise the API is not consistent.

[2013-06-10 13:56] efullea opened #103 "Full stops missing in plenty of the numbered lists"

[2013-06-10 13:58] #97 closed, assigned to nobody

[2013-06-10 14:23] zolkis commented on #102
Invalid. There may be a gap before the first tone.

[2013-06-10 14:25] zolkis commented on #94
Duration is set by the implementation. I don't understand what you mean.

[2013-06-10 14:27] zolkis commented on #100
Technically it means the underlying service has changed, i.e. a dial() method on TelephonyManager will be made on a different service. I would also leave it as it is.

[2013-06-10 14:31] efullea commented on #102
What is the reason / use case?

[2013-06-10 14:33] efullea commented on #100
OK, let's leave it as it is.

[2013-06-10 14:33] efullea commented on #94
Sorry I meant 'direction'

[2013-06-10 14:37] zolkis commented on #102
You may have just stopped a tone. We don't control system latency, so the gap may be needed before the first tone.

[2013-06-10 14:42] marcoscaceres commented on #102
Agree with @zolkis. Makes sense that the underlying system would control the gap before the next send.

[2013-06-10 14:49] efullea commented on #102
But that is not a reason to delay the start of all first tones in a sequence. If we say it is the gap after the tones, both cases are fulfilled, i.e. no delay in the first tone and we make sure that there is a gap between sequences of tones.

[2013-06-10 14:57] zolkis commented on #102
It does not delay the start of _all_ first tones, only when specified. If not specified, the system controls it. Usually in such cases the gap is specified before the tones, not after, since the danger is that we mess with the previous tone. If it is the the user who specifies 0 gap and it messes up, it is his/her responsibility. But 0 gap should not be the default policy.

[2013-06-10 15:02] zolkis commented on #102
Check http://www.etsi.org/deliver/etsi_ts/101200_101299/10123502/01.01.01_60/ts_10123502v010101p.pdf

<pre>
4.2.4.2: "Where the DTMF signalling pause duration is controlled automatically by
the transmitter the duration of the pause between any individual DTMF tone
combination shall not be less than 65 ms. The time shall be measured from the
time when the tone has dropped to 10 % of its steady-stat

[2013-06-10 15:04] #95 closed, assigned to nobody

[2013-06-10 15:04] #101 closed, assigned to nobody

[2013-06-10 15:10] zolkis commented on #94
CallHistoryEntry is a data format spec, listing the minimum amount of information to be saved by implementations/dialers to call history. It is up the the dialers/implementations on how to store and access it.

So what is the value? Compliance with eventual future changes. Implementations do need this information, and someone needs to standardize it.

I don't think it is broken because one cannot

[2013-06-10 15:24] marcoscaceres commented on #102
So it really just means the minimum delay that must have occurred before the next tone is sent by the system (even in the case of the first send). In the case of the first one, the system knows that the min gap time has passed (as it hasn't sent anything yet). So, it basically avoids a race condition and flooding the exchange (which, of course, is good).

[2013-06-10 17:18] #103 closed, assigned to nobody

[2013-06-10 17:19] zolkis commented on #88
Same reasoning as in #102

[2013-06-10 17:39] marcoscaceres commented on #88
I think maybe we should just clarify the text a little bit. @efullea concern is valid in that it might confuse readers - though @zolkis wording is correct. Should we add a small note or example?

[2013-06-10 17:53] marcoscaceres opened #106 "Prepare document for FPWD"
Before the document can be publishes, the following tasks need to take place:
- set publication date - currently 18th of June.
- add Work in Progress flag.
- run [pub rules](http://www.w3.org/2005/07/pubrules) - fix any issues.
- move generated document to pub folder.

[2013-06-10 17:55] zolkis commented on #88
I can add clarification to the text - feel free to take it forward then.

[2013-06-10 18:26] marcoscaceres commented on #106
Work in progress...

[2013-06-10 18:26] marcoscaceres commented on #106
Broken fragments:

[code]

[2013-06-10 18:33] marcoscaceres commented on #90
So, here is the commit I did to removed it:

https://github.com/sysapps/telephony/commit/7cbec66c021cb5945412cc33d6aeb027ea0e0d72

I'm going to add it back in now for the FPWD.

[2013-06-10 18:50] marcoscaceres commented on #106
Editors, you can temporarily view the generated document at:
http://marcos.dyndns.ws/

[2013-06-11 06:00] efullea commented on #69
Event handler table still missing in the ConferenceCall interface

[2013-06-11 06:03] zolkis commented on #69
Indeed. Will update.

[2013-06-11 06:16] efullea commented on #93
If I am not wrong, just the following states apply to ConferenceCall objects: "active",  "holding",  "held", "resuming", "disconnecting", "disconnected", "joining", "splitting".
BTW, in the steps describing the "split" method it is not stated that the ConferenceCall should transition to "splitting" state and back to "active" afterwards. Should we?

[2013-06-11 11:13] zolkis commented on #93
In the API spec there is the following comment about multiparty states:

<pre>
    Multiparty call sequences and states
    ====================================
    GSM TS 24.084.
    "There are four auxiliary states associated with the MPTY service:
    - Idle;
    - MPTY request; A request has been made to add this call to the MPTY.
    - Call in MPTY; This call is in the MPTY.
    - Split reque

[2013-06-11 11:35] zolkis commented on #93
I just checked, and the spec clearly states which states must be supported, see CallState description.

Moreover, the events in ConferenceCall also clearly tell which states are supported.

Then, now I also see the table with supported states. Note that 'splitting' state is there too for ConferenceCall, but the GSM spec does not mention is, nor does CDMA support it currently. So there is a possibi

[2013-06-11 11:38] zolkis commented on #69
BTW we will have the same information in 3 different places, making the spec bloated.

[2013-06-11 11:41] zolkis commented on #63
Could we use tidy without the indenting? It bloats e.g. event handler tables beyond imagination.

[2013-06-11 11:48] #90 closed, assigned to nobody

[2013-06-11 11:48] #88 closed, assigned to nobody

[2013-06-11 11:49] #102 closed, assigned to nobody

[2013-06-11 14:06] marcoscaceres commented on #63
I see what you mean. I can see if I can reduce the indenting to 1 space and simplify the table markup a bit. That should make it a bit more legible, hopefully.

[2013-06-11 14:07] marcoscaceres commented on #69
Once we disable the legacyStyle, the duplication will go away. However, that will take a few days of fairly boring work to do, so I'm keen to put that off until after the 18th. Is that ok?

[2013-06-11 14:18] zolkis commented on #69
Of course.

[2013-06-11 18:23] #87 closed, assigned to nobody

[2013-06-11 18:24] #63 closed, assigned to marcoscaceres

[2013-06-11 18:42] marcoscaceres commented on #69
Reopening this one, as we need to do this work regardless.

[2013-06-11 18:42] #106 closed, assigned to marcoscaceres

[2013-06-11 19:55] marcoscaceres opened #111 "Publish spec as First Public Working Draft"
@draggett, the spec is sitting in a special branch on GitHub.

To get it follow these instructions:

[code]

Please note that the file links to the following images:
- images/inbound_call_state_diagram.gif
- images/outbound_call_state_diagram.gif

If you need to modify the document, then you can either modify the source (index.html) or the FPWD.html file (up to you).

**Please make sure that blue

[2013-06-12 05:52] efullea commented on #91
Seems like PR#109 accidentally reverted part of the changes

[2013-06-12 05:57] zolkis commented on #91
thanks for checking

[2013-06-12 06:19] efullea commented on #93
Description in CallState states something different, namely which of the states are soft states and thus may not be supported by some implementations and which are hard states and must be supported (BTW I miss a mention to 'redirecting' similar to the one to 'transfering'). And in fact it is related to TelephonyCall objects, not to ConferenceCall objects.

We really need to mention which of these

[2013-06-12 06:29] efullea commented on #94
OK, but it would be good to have a Note explaining why this is included in here and why it is non-normative, so basically you last comment to the thread.

[2013-06-12 10:48] zolkis commented on #94
OK, will do that. After the PR is made, please check it and close the issue yourself when you think it's handled.

[2013-06-12 12:48] #91 closed, assigned to nobody

[2013-06-12 13:25] marcoscaceres opened #113 "Transition to `noLegacyStyle`"
To remove duplicate text in the spec, it would be good to use Respec's `noLegacyStyle`.

Although this would not change the substantive content of the spec, it does mean shifting a lot of markup around, which means that merges between old and new version of the spec will be "fun" (specially if patches start coming in during the transition period). I estimate that it should take max 3 days to shift

[2013-06-12 13:43] zolkis commented on #113
It is a lot of work, and I agree it is kind of critical section, so it would be good if someone takes it, works on it, pushes it just as you say. We could establish a fire-break between 18 and 24 June.

[2013-06-12 16:03] efullea commented on #113
Sounds good. Thanks Marcos.

[2013-06-13 13:02] #94 closed, assigned to nobody

[2013-06-13 13:05] zolkis commented on #93
Do you see need for more description than what there is in 11.3 ?

[2013-06-14 08:49] efullea commented on #93
Actually it is enough. Thanks.

[2013-06-14 08:49] #93 closed, assigned to nobody

[2013-06-14 11:15] zolkis commented on #81
Changes in the 'calls' and 'serviceIds' arrays are signaled by events. serviceIds could be made a sequence, but I would not make 'calls' a sequence. emergencyNumbers array is updated when a service appears enabled, but indeed there is no event for that other than when the 'serviceadded' signal is fired, emergencyNumbers is regenerated by implementation (in my implementation). I wonder if should th

[2013-06-15 12:57] marcoscaceres commented on #111
Merged in some small fixes from the last week in to the document. They are summarized here in #115.

[2013-06-15 17:59] marcoscaceres opened #116 "Add a "changes since last publication" section"
Add a section that summarizes significant changes before we publish as LCWD.

[2013-06-16 17:02] marcoscaceres opened #118 "ILLEGAL_STATE is not a valid exception type"
ILLEGAL_STATE should be "InvalidStateError".

[2013-06-16 17:39] marcoscaceres opened #119 "Resolver is not defined in the spec"
Reference is made to a promise's resolver, but resolver is not defined in the spec.

[2013-06-16 17:55] marcoscaceres opened #120 "Duplicate definitions"
Respec is reporting the following duplicate definitions:
- 'joining'
- 'active'
- 'splitting'
- 'holding'
- 'held'
- 'resuming'
- 'disconnecting'
- 'disconnected'
- 'onactive'
- 'active'
- 'ondisconnecting'
- 'disconnecting'
- 'ondisconnected'
- 'disconnected'
- 'onholding'
- 'holding'
- 'onheld'
- 'held'
- 'onresuming'
- 'resuming'
- 'onjoining'
- 'joining'
- 'onsplitting'
- 'splitting'

[2013-06-16 17:56] marcoscaceres commented on #120
Relates to https://github.com/sysapps/telephony/issues/113

[2013-06-16 22:12] marcoscaceres opened #121 ""Simple event" is not defined"
The spec makes use of simple event, but it's missing from the terminology section with a link to HTML spec.

[2013-06-16 22:34] marcoscaceres commented on #121
Actually, will fix this another way.

[2013-06-16 23:06] marcoscaceres opened #122 "CallHistoryEntry uses [NoInterfaceObject]"
CallHistoryEntry uses [NoInterfaceObject] unnecessarily.

[2013-06-17 06:48] marcoscaceres commented on #113
Work started.

[2013-06-17 06:50] marcoscaceres opened #124 "What's the default telephony service when SIM is missing?"
What's the default telephony service when SIM is missing? Can a device be without a default? The current definition of "default telephony service" does not make that clear.

[2013-06-17 07:24] marcoscaceres opened #125 "Protocol?"
The spec says:

I don't see a way of getting the protocol from `TelephonyCall` or `ConferenceCall` or `CallHandler`? What am I missing?

[2013-06-17 07:33] zolkis commented on #125
That should be in TelephonyService, but we only have the serviceId now. There are 3 options: 1) introduce TelephonyService, 2) include the information in every call, or 3) embed it into the serviceId (which becomes a JSON string).

[2013-06-17 07:34] zolkis commented on #124
It is described in the steps for the dial() method.

[2013-06-17 07:42] marcoscaceres opened #126 "Fire a simple event [HTML5] -> fire an event [DOM4]"
We should switch from Fire a simple event [HTML5] to fire an event [DOM4]. It's best to remove dependencies of HTML5 where possible and DOM4 owns event dispatching, so it's better to rely on it instead.

[2013-06-17 08:04] marcoscaceres opened #127 ""when they occur"?"
The spec says:

Does "when they occur" above mean that:
1. service is added/removed, but no event may be fired at all?
2. service is added/removed, but the event is fired in the future?

[2013-06-17 08:17] marcoscaceres opened #128 "Do we need onservicechanged?"
If we have onserviceadded and onserviceremove, then why do we need onservicechanged?

[2013-06-17 08:17] marcoscaceres commented on #128
ah, crap... got bit by the naming :)

[2013-06-17 08:19] marcoscaceres commented on #128
Actually, we should rename this one `ondefaultchanged`

[2013-06-17 08:26] efullea commented on #128
+1 to change it. I proposed it in #100 and a week after discussing it, it is already causing confusion.

[2013-06-17 08:46] marcoscaceres commented on #128
heh, yeah :) it made sense the other day to keep it for some reason. Looking at it independently it seems ok, but when looked at in the context of the other two names, it gets confusing.

[2013-06-17 08:50] marcoscaceres commented on #125
4) remove mention of protocol from the sentence above?

I guess we need to think about some of the implications of exposing the protocol. What are the use cases for knowing the protocol? what are some of the potential security risks of an attacker knowing the protocol?

[2013-06-17 09:15] marcoscaceres commented on #128
Actually, if we have `defaultServiceId`, then we don't need the events, because one can just `Object.observe()` defaultServiceId.

[2013-06-17 09:29] marcoscaceres opened #129 "Error steps should not redefine semantics of DOM4 exception types"
The error steps section currently has a section that redefines the semantics of the DOM4 exception types. We probably should not do that (if the DOM4 exception types definitions are unclear, we should update those instead).

[2013-06-17 09:51] #116 closed, assigned to nobody

[2013-06-17 10:04] #118 closed, assigned to nobody

[2013-06-17 10:04] #119 closed, assigned to nobody

[2013-06-17 10:04] #121 closed, assigned to nobody

[2013-06-17 10:04] #122 closed, assigned to nobody

[2013-06-17 10:06] zolkis commented on #128
Object.observe() is a good pattern, finally. We should spread its use in the spec...

[2013-06-17 10:11] zolkis commented on #125
Giri and Dan (from AT&T) also expressed the need for the dialers to know the protocol, since it defines a context for the states. I can't see security implications on client side. The information could be extracted anyway, but this would  make it easy for developers. This information may not be available.

See also #53.

[2013-06-17 10:14] zolkis commented on #127
Yes, if the sim card is hot-swappable, the implementation has to poll for changes, therefore the event is fired in the future, which means there may be a period of time when it's uncertain if a serviceId denotes an enabled service. In this case, operations on the service will fail, so the client code will spend more time on error ramifications.

[2013-06-17 10:29] marcoscaceres commented on #111
In #130, Update publication date and merged in a whole bunch of fixes from the weekend.

[2013-06-17 10:43] marcoscaceres commented on #128
I'm asking if it's something we can use... by doesn't seem we can watch properties, only simple objects :(

Started a thread here:
http://lists.w3.org/Archives/Public/public-script-coord/2013AprJun/0702.html

[2013-06-17 18:07] marcoscaceres commented on #113
This task going to generate a lot of bugs, so I'm going to convert it to a milestone.

[2013-06-17 18:07] #113 closed, assigned to nobody

[2013-06-17 18:38] marcoscaceres opened #131 "TelephonyServiceEvent missing a constructor"
`TelephonyServiceEvent` is missing a WebIDL defined constructor.

[2013-06-17 18:47] marcoscaceres opened #132 "Consolidate the steps to change the default service"
The steps needed to change the default service need to be consolidated into a single section (there is currently duplicate text in the spec). Currently the spec has them split between the event handler attribute definition (onservicechange) and the steps that handle the `changeDefaultService()` method.

[2013-06-17 19:35] marcoscaceres commented on #81
The problem with leaving things as an array is that developers can change stuff in those arrays, copy them by reference, etc. That seems really messy. Like:

[code]

If calls is a sequence, then the developer can request the current list of calls and do whatever they want with the array without affecting the actual call attribute's value... like:

[code]

[2013-06-17 19:42] marcoscaceres commented on #17
Hold, resume, and disconnect still feel like good candidates for returning a promise.

[2013-06-17 19:49] marcoscaceres opened #133 "Calls changing incorrectly defined"
The spec says:

The above should be defined in terms of the underlying telephony system - not in terms of something changing in the calls array.

[2013-06-17 19:57] marcoscaceres opened #134 "Pictures in the spec"
The spec contains two very nice diagrams. I'm wondering where they came from and if we have the original source files for those?

[2013-06-17 20:03] marcoscaceres commented on #69
Work in progress

[2013-06-17 20:17] marcoscaceres opened #135 "Printed diagrams don't fit"
When the spec is printed on paper, the images don't quite fit on a page. As a result, the images are getting cropped and the browser is forced to "page break". Could be improved with a little CSS magic.

[2013-06-17 20:34] marcoscaceres opened #136 "defaultServiceId should be nullable"
As a device can have zero telephony services, then defaultServiceId should be nullable.

[2013-06-17 21:13] marcoscaceres opened #137 "`changeDefaultService` needs clarification"
The spec says:

Need to make it clear that this doesn't change the system's default telephony service.

Also, I think this should set the the default telephony service for the origin, not for user agent. If I have two dialer applications running, one should not be able to change the default telephony service of the other.

[2013-06-17 22:04] zolkis commented on #17
I don't get why. TelephonyCall itself is the 'promise'.

[2013-06-17 22:07] zolkis commented on #133
Actually it is referring to the change in the 'calls' array only. New calls get signaled through 'onincoming', finished calls through 'ondisconnected'. 'calls' could be a synchronous method returning a sequence of TelephonyCall objects, at least my implementation does that.

[2013-06-17 22:10] zolkis commented on #136
OK. Although, if there is a modem capable of making emergency calls, there should be a default service for that. If no modem (e.g. VoIP only), and no configured accounts, then yes, the default service could be null.

[2013-06-18 06:28] zolkis commented on #137
Granted, it is better to have an app-specific default telephony service, instead of a system-wide. In that case there would be no system-wide default telephony service.

[2013-06-18 09:33] jplyle commented on #26
Yes, this definitely needs more detail.  Below is a bit of brainstorming for this document and/or the runtime & security document.

I'm not an expert on this API, but it appears to offer _way_ more to developers than Android or iOS, which only allow calls through intents / IPC.  It isn't entirely clear whether you would ever have more than one application using this API on a device, and whether it

[2013-06-18 10:08] zolkis commented on #26
Thanks, John! I will include the text, with an Acknowledgement.

[2013-06-18 10:38] marcoscaceres commented on #26
Agree! This is great @jplyle! Thanks for putting that together. It justifies why this API can't be exposed openly quite nicely.

Some reactions: I don't see the harm in having multiple dialer apps - as long as they are properly vetted. It is also somewhat of a requirement that dialer is only access through some kind of intent, but the API itself if agnostic to that.

@zolkis please hold off integr

[2013-06-18 11:09] jplyle commented on #26
@marcoscaceres  - It's not necessarily that multiple dialler apps would be harmful, more that I don't see the point in them.  For 80% of all use cases, this API gives more power than needed when compared with a simple Intent-like API, as you find on Android or iOS.  That power can _easily_ be abused.

The only app that would _really_ use this kind of API is a dialler.  I don't consider it likely t

[2013-06-18 11:24] zolkis commented on #26
@jplyle - You are right that this API is meant for dialer apps. This API is _not_ for normal apps. Therefore the security policy can be tight on it. For normal apps it is enough to have a phone URI scheme, or intent-like mechanism, which invokes the dialer. Also, normal apps eventually only want to know whether there is an ongoing call in the system, and what media channels are taken. But this is

[2013-06-18 11:25] marcoscaceres commented on #26
The use cases are in the [sysapps wiki](http://www.w3.org/wiki/System_Applications_WG:_Telephony_API). We will move them into the spec before Last Call. The use cases need to be further expanded to capture some of the restrictions above.

Would like to hear more about the UI examples. Is this something you might be able to help with?

[2013-06-18 12:20] jplyle commented on #26
@zolkis The API should explain the security requirements that it places on the runtime.  This might all be divorced from the API and moved into the Runtime specification, but it should be somewhere.  In my opinion, the API should, at the very least, describe the _expected_ security policy that a platform might implement in order to use the API in a secure way.  No expectations about the UI that sh

[2013-06-18 12:27] marcoscaceres commented on #26
@jplyle I think @zolkis and I in violent agreement about the points you are making - we are asking if you want to help take over editing the security aspects and guidance? We can then collectively evaluate what impact this has on the API design itself.

[2013-06-18 12:31] jplyle commented on #26
Ok, great.  I probably can do this.  Are there any deadlines looming?

[2013-06-18 12:34] marcoscaceres commented on #26
@jplyle awesome! :) No, there are no hard deadlines. The first public working draft will be published today (or Thursday) - but then we free to continue exploring the problem space. However, we should have something concrete by the F2F in August - by which point we should be ready to go to (first) Last Call.

[2013-06-18 12:46] marcoscaceres commented on #113
Editors:

So, I initially thought I should do the noLegacyStyle transition as a single work item, but given the volume of material being shifted around (and bugs generated as a result), I've decided to spin off a new branch (`noLegacyStyle`). My rationale for doing that is:
1. keep the current published editor's draft legible.
2. allow for smaller pull requests. Otherwise, it's going to be impossi

[2013-06-18 14:23] zolkis commented on #113
Yes, it's the way such change is done best.

Zoltan

On Tue, Jun 18, 2013 at 3:46 PM, Marcos Caceres notifications@github.comwrote:

[2013-06-18 18:29] marcoscaceres opened #140 "Not entirely clear what the relationship is between an app, the user agent, and a telephony service"
The spec assumes that all telephony services are available to an application. Although this is generally true, it might be that some user agent may not have access to all the telephony services.

Can we instead say that:

[2013-06-18 18:38] marcoscaceres commented on #125
Ok, maybe we should start seriously discussing adding a TelephonyService (as per #53). Or should we initially just expose protocol as an attribute of TelephonyCall?

[2013-06-18 18:55] marcoscaceres commented on #128
Looks like no go on object.observe. Closing this bug. Will update the name of the event handler attribute.

[2013-06-18 18:55] #128 closed, assigned to nobody

[2013-06-18 18:58] marcoscaceres opened #141 "TelephonyManager needs to be converted to `noLegacyStyle`"
Basically, all the `dd` become paragraphs...

[2013-06-18 18:58] marcoscaceres commented on #141
Work in progress...

[2013-06-18 19:31] anssiko commented on #141
@marcoscaceres Let me know if you run into any undocumented issues with the conversion, so that I can update the noLegacyStyle docs accordingly.

[2013-06-18 19:32] marcoscaceres commented on #141
@anssiko so far so good... I think :)

[2013-06-18 19:57] marcoscaceres opened #142 "DTMF tone should be defined as ABNF"
The spec should define DTMF tone as ABNF, so that it can be more easily used in various algorithms.

[2013-06-19 09:30] zolkis commented on #140
This is a new use case, and not the original intent of the API.
But since this is more generic, it is fine to have it this way.

However, we should add this as a use case / requirement, and to add the API (not on this spec) so that the user could control which services can be seen by the app.

[2013-06-19 09:37] zolkis commented on #125
Once you will have finished the nolegacy transition, we can start the discussion. I will play with various options until then.

[2013-06-19 11:46] #141 closed, assigned to marcoscaceres

[2013-06-19 16:20] marcoscaceres opened #144 "TelephonyErrorEvent is defined by never used"
The `TelephonyErrorEvent` is defined in the spec, but not used in any algorithm. I assume it will be usable in some general error handling cases. However, are not all errors represented by a state (i.e., telephonyCall.state attribute)?

If so, we can fire a simple event named `error` at the telephonyCall object and the developer can check the state of the call to determine what the error was. Like

[2013-06-19 16:59] marcoscaceres opened #145 "TelephonyEvent and TelephonyCall"
I'm not really getting the use case for TelephonyEvent with the TelephonyCall interface? The ondisconnect event handler is defined as needing it. I think a simple event there would work just as well:

[code]

[2013-06-19 17:04] marcoscaceres commented on #145
Side note: maybe "disconnected" should be "disconnect"?

[2013-06-19 17:07] marcoscaceres commented on #145
Ignore my comment above... I see the states are transitional.

[2013-06-19 17:12] marcoscaceres opened #146 "TelephonyCall interface needs to be migrated to noLegacyStyle"

[2013-06-19 17:12] marcoscaceres commented on #146
Work started...

[2013-06-19 17:29] zolkis commented on #144
Some reason of the error should be carried with the event, because state may change asynchronously (depending on implementation).

[2013-06-19 17:30] zolkis commented on #145
Yes, a simple event should work.

[2013-06-19 17:33] marcoscaceres commented on #144
We can specify that asynchronous change can only happen on the next spin of the event loop. That way, it can avoid the race condition.  I think we need to do this regardless, otherwise things will get weird.

[2013-06-19 17:43] marcoscaceres commented on #145
Ok, will update.

[2013-06-19 19:47] #146 closed, assigned to nobody

[2013-06-20 06:51] marcoscaceres opened #149 "CallHandler needs to be converted to noLegacyStyle"

[2013-06-20 06:51] marcoscaceres commented on #149
Work started...

[2013-06-20 07:51] marcoscaceres opened #151 "ConferenceCall needs to be converted to noLegacyStyle"

[2013-06-20 07:51] marcoscaceres commented on #151
Work started.

[2013-06-20 08:37] marcoscaceres opened #153 "EventTables could be simplified"
Now that we have more consistent events, some of the event tables could be simplified.

[2013-06-20 08:37] marcoscaceres commented on #153
work in progress

[2013-06-20 09:20] marcoscaceres commented on #144
So, I'm inclined to drop TelephonyErrorEvent. We need to write the spec so that the state can't change before it is observed by an event handler. I'm pretty sure this is the default behavior in the platform (e.g., XHR behaves this way).

[2013-06-20 09:23] marcoscaceres opened #155 "CallHistoryEntry should probably be removed from the spec"
CallHistoryEntry is not currently used in the spec (and is marked as informative). Why don't we move it out of the spec and bring it back if we defined a call entries database of some kind?

[2013-06-20 09:25] zolkis commented on #144
OK.

[2013-06-20 09:26] zolkis commented on #155
Based on my experience this is important information for people interested in dialers. IMO it should stay there as informative section. It gives a better understanding of the API and scope, and clears a few questions ahead.

[2013-06-20 09:37] marcoscaceres commented on #155
Yeah, I totally agree that it's important. What I'm proposing is that we spin off a separate spec for it that we can build into a Calls DB - or into a separate Note (referenced from the Telephony Spec). What worries me right now is that it's kinda incomplete and leaves the reader wondering how it relates to the rest of the API (as there is no way to actually make use of it).

[2013-06-20 10:42] marcoscaceres commented on #155
Ok, so for now I'm going to remove the use of RFC2119 keywords from the section. I've also moved it to the appendix and tried to separate out a bit so it doesn't look so much like a normative part of the spec.

[2013-06-20 11:41] efullea commented on #134
I created them and can update them whenever needed but in addition I can upload the source (in Visio format) to GH.

[2013-06-20 14:25] marcoscaceres commented on #134
@efullea would be great if you could upload the source - just so we have everything in one place.

[2013-06-20 14:30] marcoscaceres opened #157 "CallHistoryEntry needs to be converted to noLegacyStyle"

[2013-06-20 14:30] marcoscaceres commented on #157
Work started.

[2013-06-20 14:51] marcoscaceres opened #159 "Dictionary DialParams needs to be converted to NoLegacyStyle"
Work stated.

[2013-06-20 14:54] marcoscaceres opened #160 "ToneParams needs to be converted to NoLegacyStyle"
Work started...

[2013-06-20 15:22] marcoscaceres opened #161 "TelephonyEvent needs NoLegacyStyle"

[2013-06-20 15:22] marcoscaceres commented on #161
Work started.

[2013-06-20 15:52] marcoscaceres opened #162 "TelephonyServiceEvent needs NoLegacyStyle"

[2013-06-20 19:55] #111 closed, assigned to draggett

[2013-06-21 10:14] marcoscaceres opened #164 "Error steps not needed"
The spec states in various places (paraphrase):

However, error steps state that:

Hence, all error conditions are tied to some known state. If that is the case, then each algorithm should deal with throwing an error explicitly for a particular error condition (and the error steps are not needed).

[2013-06-21 13:27] #134 closed, assigned to nobody

[2013-06-21 14:12] #124 closed, assigned to nobody

[2013-06-21 14:15] marcoscaceres commented on #81
FWIW, I do think we should add `emergencynumberschanged` event.

[2013-06-21 14:33] marcoscaceres commented on #133
I agree, we need to change call to a sequence. If `onincoming` handles an added call, and `ondisconnected` handles a call vanishing (I know, crappy word... bare with me), then `callschanged` seems redundant.

[2013-06-21 14:35] marcoscaceres commented on #137
I still think that there might be a system wide telephony service, which is the default one that is used when the UA is powered up - that one then propagates to each application, each of which can then switch to use a different one.

[2013-06-21 15:16] marcoscaceres opened #166 "soft states not guaranteed state change?"
According to the spec, soft states are not guaranteed event delivery:

However, in the spec, these transitional states are handled by explicit API calls (e.g., hold() -> "holding"). So, I'm a bit confused as to when they can be skipped?

For consistency, it would be better if soft states were also guaranteed events and state changes. Otherwise, it could get confusing and there may be applications

[2013-06-21 15:48] marcoscaceres opened #167 "Ovelap in dialed and connected states"
The spec defines the `dialing` state as:

But then "connecting" is defined as:

Can we drop "and is being connected" from `dialing`?

[2013-06-21 15:51] marcoscaceres opened #168 "State wording present and past"
The spec says:

Seems weird that "dialing" is defined as something that has already happened ("call that has been dialed")? Should that not be:

[2013-06-21 15:54] marcoscaceres commented on #167
Note that some are defined as something that is "going to happen/is happening", like:

[2013-06-21 16:42] marcoscaceres opened #169 "Security considerations about MSISDN."
The spec says:

This should be in the security and privacy considerations section of the spec, and it should be expanded to explain why it would be a bad thing to do that.

[2013-06-21 16:46] marcoscaceres opened #170 "ICC-ID as the service identifier?"
The spec says:

Does that mean that for SIM Cards, it is recommended that the ICC-ID be used as the service id in the API?

[2013-06-21 17:22] zolkis commented on #164
Sounds OK.

[2013-06-21 17:24] zolkis commented on #81
With the current API it is likely it will be never fired, but yes, we can add.

[2013-06-21 17:26] zolkis commented on #133
What if the call disconnects, and you have it in the sequence (since it is copied by value), so it's invalid? I like more the idea of having exactly one call object per call, referenced.

[2013-06-21 17:30] zolkis commented on #137
IMO that does not need to be exposed in this API. It can be the choice of the implementation/platform/device. For the dialer it is enough to have a service. Actually I am also playing with the idea of removing this default service concept, and go with listing the services, and choosing one. We can also introduce restrictions, so not every dialer could handle every telephony service, but the ones e

[2013-06-21 17:33] zolkis commented on #166
You are right, actually the soft states can be guaranteed. In fact, the hard states could be skipped (by network equipment, or protocol differences, etc). Implementations cannot possibly guarantee the state machine depicted there. This was a 40+ email thread some time ago. That is why the state machines should be informative, but the state space defined, with the rule that the app has to follow wh

[2013-06-21 17:35] zolkis commented on #168
'dialing' just states that the user has pressed the button, but not necessarily that the telephony service already started connecting (which will also happen a few ms later).
So
1. user presses button
2. state changes to 'dialing'
3. telephony service starts dialing

[2013-06-21 17:36] zolkis commented on #167
Yes, it would be correct to drop it.

[2013-06-21 17:37] marcoscaceres commented on #166
Ok, that makes more sense. In the draft I have, I've consolidated states into their own section (based on text which was scattered throughout the spec before). I'm going to put together a first draft of the updated text, but really need your help to make sure it's right. Hopefully will be done on Monday, but will check in what I got so far in an hour or so.

[2013-06-21 17:37] zolkis commented on #169
It is not for security reasons, but because it cannot guarantee uniqueness. We discussed this topic on the F2F.

[2013-06-21 17:37] marcoscaceres commented on #167
ok, will drop it.

[2013-06-21 17:37] zolkis commented on #170
The requirement is uniqueness, and ICC-ID is good for that in the case of SIM card.

[2013-06-21 17:38] marcoscaceres commented on #169
Ah, ok. Will add that :)

[2013-06-21 20:42] marcoscaceres opened #171 "Describe the relationship to tel:"
@distobj requested the spec describe its relationship to tel: URI scheme.

[2013-06-21 21:35] zolkis commented on #171
Orthogonal.

[2013-06-21 22:06] distobj commented on #171
The API defines "dial" which permits a call to be established to a remote party using a provided phone number, so it's clearly not orthogonal.

It looks to me like the (or at least "a") question is, how does one obtain a TelephonyCall object for a call established by clicking a tel URI?

[2013-06-21 22:13] zolkis commented on #171
That was anticipated to be done by a (more generic) mechanism, separate from this API. That mechanism may use the Telephony API, though.

[2013-06-21 22:39] marcoscaceres commented on #171
It's a fair question that's going to come up a lot (and it would be neat if there was some means to wire them up together). Although somewhat orthogonal, the two are quite closely related (in that this API can serve as a handler for tel:). It would be good to add something non-normative to the spec to clarify the relationship.

[2013-06-22 11:10] zolkis commented on #171
Sorry for shortcutting it, I was in a hurry. Yes, I have also been experimenting with tel URI's, and I have even had another dial() method with a tel URI parameter. In fact, that version of the API used to have a dial(uri) method on the telephony manager object, and the dial(remoteParty) method on the telephony services objects. I always though that was the technically correct way to do it, but it

[2013-06-22 12:18] marcoscaceres commented on #171
I'm not sure we need to actually add support for dial(telURI), or some variant of that - though I'm open to exploring it.

I think what need to clarify a bit is what happens with when application A clicks on `<a href="tel:+123112312">call me, maybe</a>` and somehow App B pops up to deal with it... basically, it sounds like the system message thing again or using HTM5's [registerProtocolHandler](ht

[2013-06-22 13:57] marcoscaceres commented on #170
Ok, will recommend the use of ICC-ID for when there is a SIM card.

[2013-06-22 20:20] domenic commented on #17
From what I can tell, TelephonyCall seems to represent a stateful system, not a asynchronous return value from a single asynchronous operation.

[2013-06-22 21:56] marcoscaceres commented on #171
I got `tel:` working with the prollyfill also in Chrome.
http://marcoscaceres.github.io/teleprolly/demo/?number=tel:12322

![screen shot 2013-06-22 at 22 42 49](https://f.cloud.github.com/assets/870154/691416/4b50c1ca-db86-11e2-8c5f-71bd5169cafb.png)

Once registered, it can be tested here.
http://jsfiddle.net/tzUkT/

[2013-06-23 07:45] zolkis commented on #17
@domenic I agree.

[2013-06-23 10:50] marcoscaceres commented on #17
I also agree, but we are conflating two things: the creation of an object instance and the asynchronous operation dial() - which does meet the definition of a promise. IMO, it would be better if TelephonyCall had a constructor and the one could dial() it:

[code]

It sounds a bit like what Tab is talking about here: http://lists.w3.org/Archives/Public/public-script-coord/2013AprJun/0738.html

A Te

[2013-06-23 12:42] zolkis commented on #17
A TelephonyCall object has no right to exist, unless it is already dialing or in any next state of a call, or if incoming/waiting.
The dial() method or the 'incoming' event creates the object which can handle the lifecycle of the call.
It does not make any sense to 'create a call', that would be rather named 'dial a call'.
Dial is not a simple asynchronous operation which ends and returns a result

[2013-06-23 17:49] tabatkins commented on #17
Given the current state of the .dial() function, where it syncly creates a TelephonyCall and then starts dialing async, there's no reason not to just kill it in favor of a TelephoneCall constructor with an equivalent signature. Using a factory function is just bad idiom.

If you changed the return value of .dial() to a Promise for a dialing TelephonyCall, you could eliminate the "dialing" event, b

[2013-06-23 18:57] zolkis commented on #17
Promises handle a single asynchronous request, with success and a return value, or error.
TelephonyCall can enter multiple possible states from a given state, even error conditions, and come back to a valid state.
If you introduce Promises that can handle multiple possible outcomes, we may use them.
Until then implementations will struggle _a lot_ to make telephony calls work with promises, especi

[2013-06-23 20:35] domenic commented on #17
@zolkis I think you may be talking past us. Our thesis is that methods that trigger asynchronous state transitions should return promises. These are indeed single asynchronous operations which can either succeed or error, and thus a perfect place to use promises.

I think @marcoscaceres's point when he said

was that one of these asynchronous state transitions is indeed the transition from "initia

[2013-06-23 21:58] zolkis commented on #17
Let's suppose you are implementing a constructor. From where do you fill the needed properties, unless you have a real object in telephony middleware/ network which provides you the data needed for the telephony call?
The implementation does not create a call. The telephony network does. So it definitely does not make any sense to create a TelephonyCall object by any developer initiative, since it

[2013-06-24 01:18] tabatkins commented on #17
@zolkis You definitely didn't read my post in detail, as your objections don't make any sense.

For example, my _very first paragraph_ explained how using a constructor was just moving a function around, not changing any details.  "TelephonyManager.dial(num)" and "new TelephonyCall(num)" are _identical_, except that the latter is more idiomatic.

I then explained how you could get rid of the diali

[2013-06-24 09:51] zolkis commented on #17
@tabatkins I've read your comments and I claim I even understood it, but it is in a pure 'theory of JS' context. I speak in telephony context (that's why we talk past each other, as @domenic has put it). In telephony contex, using these ideas messes up quite a lot of things, since you are making assumptions that do not hold, with the main purpose just to push using Promises in the API. I say that

[2013-06-24 13:01] zolkis commented on #17
Playing with the idea, here is what we could do with the current API.
1. dialing a call

[code]

Steps:
- user forms number and presses green button
- implementation determines which service to use, and throw error if no service is available
- impl pre-validates the number (security, bounds, etc), and throw error if number invalid
- if the 'calls' array already contains a TelephonyCall object with

[2013-06-24 15:33] marcoscaceres opened #172 "TCallControl not needed"
The spec uses the concept of "TCallControl" throughout to handle the interactions between the telephony system and JS. However, TCallControl doesn't need to be an explicit part of the system (as it's an abstract concept). It's better to just have TCallControl implied as part of the overall architecture.

[2013-06-24 15:34] marcoscaceres commented on #172
to be clear, steps/events that TCallControl pertains to would still be part of the spec - but "TCallControl" itself would go away.

[2013-06-24 17:06] marcoscaceres opened #173 "navigator.telephony Attribute needs to be converted to NoLegacyStyle"

[2013-06-24 17:06] marcoscaceres commented on #173
Work started...

[2013-06-24 18:17] tabatkins commented on #17
Okay, cool, that's all useful information.  It seems like, in general, the state machine is not amenable to promises.  No problem! This wasn't clear from the spec, but your additional info makes it pretty clear.

(I don't think this is clear in the spec at all, even ignoring the state diagrams.  The algorithms seem incomplete, and don't even hint that the state could change to something other than

[2013-06-24 18:27] marcoscaceres opened #174 "Call states should clearly identify all actors"
The call states are currently written in passive voice, as such, it's not clear who the actors are in each state (on a careful reading, it's hard to know what part of the system is doing what). It would help a lot to rewrite these in active voice, clearly identifying who the actors are.

[2013-06-24 18:38] marcoscaceres opened #175 "redirecting and transferring not in diagrams"
Would be nice if the diagrams could be enhanced to include "redirecting" and "transferring" states.

[2013-06-24 19:20] zolkis commented on #17
One point you've missed from the above is that we also need to specify the telephony service to be used, and that telephony service may grow to be visible objects in next versions of the API. In that case we'd like to create calls on the TelephonyService objects, which would contain a list of TelephonyCall objects that they manage.

The TelephonyManager would mainly manage the TelephonyServices.

[2013-06-24 19:41] marcoscaceres opened #176 "Generic error handling needs to be reintegrated into spec"
The following text was moved of the spec as part of the noLegacyStyle. It needs to be put back into each of the appropriate methods that it affects.

[code]

[2013-06-24 20:49] tabatkins commented on #17
I can't be blamed for missing a detail that's not in the spec.  ^_^  Right now, the telephony service is just a string.  Upgrading it to a real object requires no changes; the IDL will just be changed to a union.

(If you're planning to do this, I recommend changing the DialParams key to just "service", rather than the current "serviceId".)

Even if you feel that `service.dial(num, options)` is si

[2013-06-24 21:34] #126 closed, assigned to nobody

[2013-06-24 21:34] #129 closed, assigned to nobody

[2013-06-24 21:34] #140 closed, assigned to nobody

[2013-06-24 21:34] #100 closed, assigned to nobody

[2013-06-24 21:34] #136 closed, assigned to marcoscaceres

[2013-06-24 21:34] #144 closed, assigned to marcoscaceres

[2013-06-24 21:34] #149 closed, assigned to marcoscaceres

[2013-06-24 21:34] #151 closed, assigned to marcoscaceres

[2013-06-24 21:34] #153 closed, assigned to marcoscaceres

[2013-06-24 21:34] #155 closed, assigned to nobody

[2013-06-24 21:34] #159 closed, assigned to marcoscaceres

[2013-06-24 21:34] #160 closed, assigned to marcoscaceres

[2013-06-24 21:34] #131 closed, assigned to nobody

[2013-06-24 21:34] #161 closed, assigned to marcoscaceres

[2013-06-24 21:34] #168 closed, assigned to nobody

[2013-06-24 21:34] #169 closed, assigned to nobody

[2013-06-24 21:34] #173 closed, assigned to nobody

[2013-06-24 21:35] #170 closed, assigned to nobody

[2013-06-24 21:35] #167 closed, assigned to nobody

[2013-06-24 21:53] zolkis commented on #17
Of course, I did not mean to blame you. It is not in the spec, it was in the comments, and likely was not clear.

The result of `telCall = new TelephonyCall(012345678, { serviceId: "sim1"})` would be that a new element is added to the `calls` list of the TelephonyService object whose id is "sim1". Not more intuitive to me than
`telCall = service.dial(012345678); // where service.id === "sim1"` .
I

[2013-06-24 23:06] tabatkins commented on #17
A constructor is useful because _that's the idiomatic way to construct an object_.  You can't predict every way your API will be extended in the future, and providing only convenience methods for constructing the object may bite you in the future when you want to use the object in other ways.  You say that a TelephonyCall has no reason to exist unless it's in the act of making a call, but that mig

[2013-06-25 09:56] zolkis commented on #17
OK, I get the point, but it does not convey the right semantics for calls vs services in telephony context.

The telephony context is well known, it is driven by rigid standards, and we do know where the API is going in the next few years (CS - VoIP convergence). So there not much danger that the relationship between telephony services and calls would change in the future. However, if we can find

[2013-06-25 11:18] zolkis commented on #17
A side question about generalizing Promises.
@domenic , @tabatkins, @slightlyoff, I am no JS expert, so excuse my ignorance, but based on the discussion above, do you see valid use case to extend Promises to handle multiple outcomes (under a different name, in the example below I use StateHandler for lack of imagination). I believe it would be a more efficient way to handle state handling / events

[2013-06-25 15:41] domenic commented on #17
Promises represent "asynchronous function calls." They must do one of two things: reject with a single reason, or fulfill with a single value. This is just like synchronous function calls, which can result in a single exception or a single value. So, no, extending them in the way you talk about doesn't really make sense, at least in that those things would not be called promises any more.

---

Th

[2013-06-25 16:25] marcoscaceres commented on #26
Added @jplyle as Editor. Closing this for now. Will make a separate bug for user interaction guidelines.

[2013-06-25 16:25] #26 closed, assigned to nobody

[2013-06-25 16:26] marcoscaceres opened #179 "Security section needs user interaction guidelines"
It would be good if the sec/priv section described some user interaction guidelines... like not exposing A-D buttons to the user - and perhaps some other things.

[2013-06-25 16:30] marcoscaceres commented on #179
assigning to @jplyle. Be great to have this for the next F2F.

[2013-06-25 16:31] #162 closed, assigned to marcoscaceres

[2013-06-25 16:32] #69 closed, assigned to nobody

[2013-06-25 16:32] #132 closed, assigned to marcoscaceres

[2013-06-25 16:35] marcoscaceres commented on #120
After NoLegacyStyle change, we are now down to:
- telephony service
- telephony call
- incoming
- serviceid
- serviceid
- serviceid
- conferenceid
- onactive
- ondisconnecting
- ondisconnected
- onholding
- onheld
- onresuming
- onjoining
- onsplitting
- remoteparty
- serviceid
- duration

[2013-06-25 16:36] marcoscaceres commented on #120
Work in progress...

[2013-06-25 18:05] marcoscaceres opened #180 "WebIDL methods/attrs don't link to their definitions"
The from IDL to definitions are broken.

[2013-06-25 18:15] marcoscaceres opened #181 "States are not linked to the state definitions"
The links to the state definitions are not linked (e.g., "incoming", etc.).

[2013-06-25 18:15] marcoscaceres commented on #181
work in progress.

[2013-06-25 18:27] marcoscaceres commented on #180
work in progress

[2013-06-25 19:49] marcoscaceres opened #182 "CallDirection enum is non-normative"
The CallDirection relates to call history, so it should be relocated to the appendix.

[2013-06-25 19:52] marcoscaceres opened #183 "DisconnectReason is non-normative"
DisconnectReason is not used by normative parts of the spec. It should be in the call history section.

[2013-06-25 19:58] marcoscaceres commented on #183
work in progress

[2013-06-25 19:58] marcoscaceres commented on #182
work in progress

[2013-06-25 20:00] marcoscaceres commented on #171
@distobj, just want to confirm that the above is what you mean. Should I just describe how you can hook up the relationship via `registerProtocolHandler`? Let me know and I'll add what you think is appropriate.

[2013-06-25 20:01] marcoscaceres commented on #164
Work in progress

[2013-06-25 20:16] marcoscaceres commented on #172
Work in progress

[2013-06-25 20:26] marcoscaceres commented on #183
Hmmm.. Seems that disconnect reason is used. But the definitions is wrong:

There is no such thing as a "param" attribute on `Event`?

[2013-06-25 20:39] marcoscaceres opened #186 "DisconnectReason should be in "disconnectng calls" section"
DisconnectReason was wrongly moved to the appendix, it should be in the disconnectng calls section.

[2013-06-25 20:56] marcoscaceres commented on #171
This bug relates to #14

[2013-06-25 21:25] #120 closed, assigned to marcoscaceres

[2013-06-25 21:25] #181 closed, assigned to marcoscaceres

[2013-06-25 21:25] #182 closed, assigned to marcoscaceres

[2013-06-25 21:25] #183 closed, assigned to nobody

[2013-06-25 21:26] #164 closed, assigned to marcoscaceres

[2013-06-25 21:27] #172 closed, assigned to marcoscaceres

[2013-06-25 21:27] #186 closed, assigned to marcoscaceres

[2013-06-25 22:17] #145 closed, assigned to marcoscaceres

[2013-06-25 22:18] #157 closed, assigned to marcoscaceres

[2013-06-25 22:21] marcoscaceres commented on #180
Closed by https://github.com/sysapps/telephony/pull/184

[2013-06-25 22:21] #180 closed, assigned to marcoscaceres

[2013-06-26 08:16] marcoscaceres commented on #174
@zolkis, if you have time, will need your help with this one.

[2013-06-26 08:44] zolkis commented on #174
OK. Just that now I have some priority work to do.

[2013-06-26 08:45] marcoscaceres commented on #174
No probs, it's not high priority. BTW, when you can, please ping me on IRC so we can discuss how to move forward with constructors, promises, and TelephonyService.

[2013-06-26 09:49] zolkis commented on #17
Yes, I also think they would be a completely different pattern with a different name.

So basically you say I should (could) implement state machines with Promises, rather than something like in my example? BTW how does that design with StateHandler feel, is it ok, or flawed, can it be expressed better, is it something broadly useful or something that is ok to be implemented on need?

[2013-06-26 15:47] marcoscaceres commented on #81
I had a really good discussion about sequences over on public-script-coord:
http://lists.w3.org/Archives/Public/public-script-coord/2013AprJun/0748.html

I think we are going to have to change to using getCalls(), etc.

[2013-06-26 17:35] marcoscaceres commented on #179
[Wikipedia states that](http://en.wikipedia.org/wiki/Dual-tone_multi-frequency_signaling#.23.2C_.2A.2C_A.2C_B.2C_C.2C_and_D):

There is probably scope in the UI guidelines for the exclusion of A, B, C and D.

[2013-06-26 17:39] marcoscaceres commented on #179
Having said that, there may be some private telephony networks that make use of A-D...

[2013-06-26 17:56] marcoscaceres opened #188 "argument params vanished with noLegacyStyle"
As I merged the argument params into the prose, the method arguments vanished from the WebIDL ... yep, well done @marcoscaceres :+1:

Will put them back now.

[2013-06-26 17:57] marcoscaceres commented on #188
work in progress

[2013-06-26 18:29] marcoscaceres opened #189 "Dial and telephone number format"
In the dial method, it's not well defined that it's the telephony service that handles invalid phone numbers.

[2013-06-26 18:30] zolkis commented on #81
The primary usage of getCalls() is to fetch the initial list of call object references when starting up, then monitor the calls solely by events.
Of course, apps can invoke getCalls() any number of time, but not much use.
Apps must not write the call array. For adding a call, must dial, and for removing a call, must disconnect.

[2013-06-26 18:39] marcoscaceres commented on #81
So, with getCalls(), the calls array becomes an internal thing (which is a good thing). Then the rest is monitored with events.

For the utility, see the second example in my [comment above](https://github.com/sysapps/telephony/issues/81#issuecomment-19569023).

[2013-06-26 18:40] zolkis commented on #189
We need to specify the valid formats with references. In this version of the spec we support GSM and CDMA. In subsequent versions SIP and XMPP calls may be supported. All this have well defined remote party formats (will need to find the exact references).

[2013-06-26 18:42] marcoscaceres commented on #189
I tried feeding the iOS a random string... it converts it all to numbers :) Weird.

[2013-06-26 18:43] zolkis commented on #189
OK, some implementations may want to add skype, too. Other formats may be supported by some implementation, but that is the decision of the implementation, and it would not be compliant. Such apps may fail on other implementations.

[2013-06-26 18:43] marcoscaceres commented on #189
I think this is then best left to the backend, right?

[2013-06-26 18:43] zolkis commented on #189
The advantage of tel URI's is that all this is standardized.

[2013-06-26 18:46] marcoscaceres commented on #189
Excuse my ignorance, but what does an XMPP number(?) look like?

[2013-06-26 18:57] zolkis commented on #189
http://xmpp.org/rfcs/rfc6122.html

[2013-06-26 18:58] zolkis commented on #189
It depends whether do we require implementations to validate user strings for security reasons, or do we push that to the backends. We could do a pre-validation (length, encoding etc), and leave the rest to the backends.

[2013-06-26 19:00] marcoscaceres commented on #189
I think for V1 we should just leave it all to the backends and see how we go... if people complain during review, we can start imposing rules.

[2013-06-26 19:02] #188 closed, assigned to nobody

[2013-06-26 19:03] zolkis commented on #189
OK. We can create a note, eventually.

[2013-06-27 08:29] marcoscaceres opened #191 "Invoking dial() twice should result in an AbortError"
In the dial() method, the spec says:

The InvalidModificationError seems a bit illogical here, as the developer doesn't know that some internal array is being modified in an invalid way.

This should really be an "AbortError" IMO ("The operation was aborted.").

[2013-06-27 08:36] marcoscaceres opened #192 "Making outbound calls needs to be better defined"
Making outbound calls doesn't currently describe the sequence of steps that are taken by the telephony service and the interaction with the API.

In particular, it's not defined what to do when (this list will likely expand):
- The remote party's identifier is malformed (i.e., bad phone number, etc.) as per #89.

The intention here is not to replicate what is in actual telephony specs, but rather

[2013-06-27 10:03] zolkis commented on #191
OK.

[2013-06-27 10:52] marcoscaceres commented on #192
So, I'm thinking that each state and disconnect reason could define it's event or error as it relates to the API. The sate diagrams currently don't help too much here.

[2013-06-27 11:06] zolkis commented on #192
Only disconnect may give a reason why it happened.
There is 3 dimensions of call states:
- call
- call hold
- multiparty

This means that hold may fail (call stays active), and createConference may fail (call stays active).
All the rest is handled by disconnect.

[2013-06-27 11:09] marcoscaceres opened #193 "Dial method needs rewrite"
There are a number of issues with the dial steps as currently written. They don't properly define synchronous and async actions (e.g., when to return). The method creates objects prematurity; doesn't properly associate telephony service with a call, etc.

Basically, it needs a bit of a rewrite :)

[2013-06-27 11:09] marcoscaceres commented on #193
Work in progress...

[2013-06-27 13:27] distobj commented on #171
Hey. Yes, how to connect the Telephony-API using Javascript to registerProtocolHandler would be one aspect of this integration. Your solution seems pretty solid.

The other part of this would be what I mentioned earlier; about using the API to interact with a call that was initiated by a different (perhaps native/plugin) handler. Though I don't think it would be a showstopper to initially scope it

[2013-06-27 15:01] marcoscaceres opened #194 "calls attribute of the TelephonyManager interface should be a sequence"
The calls attribute of the TelephonyManager interface needs to be redefined as a method "getCalls()".

See discussion in:
- https://github.com/sysapps/telephony/issues/133
- https://github.com/sysapps/telephony/issues/81
- [discussion on public-script-coord](http://lists.w3.org/Archives/Public/public-script-coord/2013AprJun/0748.html)

[2013-06-27 15:04] marcoscaceres commented on #191
It should be possible for a use to place a call to the same number through different telephony services, no? Kinda silly, but possible.

[2013-06-27 15:06] marcoscaceres commented on #189
Clarified this in https://github.com/marcoscaceres/telephony/commit/4e876273a474f1752a352dc03b67ff3809870793

[2013-06-27 15:10] marcoscaceres commented on #142
Something like.

[code]

[2013-06-27 15:28] marcoscaceres opened #195 "DialParams and ToneParams should be DialOptions, ToneOptions"
...for consistency with other specs with regards to the use of dictionaries as options.

[2013-06-27 15:28] marcoscaceres commented on #195
work in progress

[2013-06-27 16:01] marcoscaceres opened #196 "dial() method needs to treat null as empty string"
Calling dial(null) results in null being converted to "null", which will be passed to the telephony system to deal with. It would be better to at least have it automatically converted to an empty string in WebIDL:

[code]

The dial() method needs to be redefined as treating null as an empty string. And the prose needs to say what to do with an empty string.

[2013-06-27 17:50] zolkis commented on #193
See also my more detailed steps described at issue #17.

[2013-06-27 17:53] zolkis commented on #171
The implementation will have to list all connected calls, regardless how they have been started on the modem (from native or JS). So this should already be covered by the spec.

[2013-06-27 18:15] zolkis commented on #191
Yes, I agree, one could call a number with GSM, and with Skype Out, the latter will signal busy. The API should not stop this behaviour.

[2013-06-27 18:16] zolkis commented on #196
Agreed.

[2013-06-28 10:54] marcoscaceres commented on #171
Ok, will make sure the above is captured too when I document the relationship.

[2013-06-28 11:59] marcoscaceres commented on #17
I think it might be possible to layer the `StateHandler` model on top as part of a JS library.

For idiomatic consistency, I would be in favor of changing the spec to use a constructor for `TelephonyCall` that requires a number, but is optionally initialized with initOptions (a telephony service):

[code]

With regards to promises, we can continue to evaluate each method on a case by case basis ba

[2013-06-28 12:55] zolkis commented on #17
I still struggle with this since "making a call" is more than an idiomatic creation of a call object, as it involves telephony network activity. Since you want a synchronous method, you have to separate the creation of the JS object from that of the real call object. As mentioned, such an orphan JS call object has no right to exist. What would the getCalls() method list?
This is too much price for

[2013-06-28 13:03] marcoscaceres commented on #17
Yeah, I was going to mention potentially looking at similar specs that deal with peer-to-peer communication (e.g, WebSockets) or retrieving data async (e.g., XHR).

[2013-06-28 13:26] mounirlamouri opened #197 "Add a TOC"
a TOC is always appreciated especially for a long spec like this :)

[2013-06-28 13:27] mounirlamouri commented on #197
Argh... I needed to enable JS to get it :-/

[2013-06-28 13:27] #197 closed, assigned to nobody

[2013-06-28 13:27] marcoscaceres commented on #197
Weird? What URL you looking at?

[2013-06-28 14:28] marcoscaceres opened #198 "Telephony system eventing model should fill event gaps"
As events from the telephony network are not guaranteed, if the underlying system receives a foo event out of sequence, it should synthesize the expected events that should lead up to a foo event and dispatch them before dispatching foo.

Thoughts?

[2013-06-28 14:30] mounirlamouri commented on #17
If I understand correctly, the question here is whether we should do `telephony.dial(...)` or `new TelephonyCall(...)`. This is a question we have been asking ourselves when we have been designing Web Activities, given that a Web Activity was simply returning a _DOMRequest_ (ie. a Promise), we thought of starting an activity from `navigator.something()` and let the consumer handle the returned req

[2013-06-28 14:59] jsoref commented on #17
First, constructors are the right way to go, because they improve documentability/discoverability as mentioned earlier.

I'm not a Futures expert, but I believe that the following addresses your use case above:

[code]

[2013-06-28 17:12] marcoscaceres commented on #17
I think I found another problem where not having the constructor results in API inconsistency. Given:

[code]

The above results in an `Event` being dispatched to the `onerror` event handler attribute, while other methods of the API will handle errors in a Promise.

Also, in the case where an event is generated on construction: if one tries to use this API in a JS console, the above will lead to a

[2013-06-28 17:42] marcoscaceres commented on #176
Work in progress...

[2013-06-28 17:46] #191 closed, assigned to nobody

[2013-06-28 17:46] #193 closed, assigned to marcoscaceres

[2013-06-28 17:46] #195 closed, assigned to marcoscaceres

[2013-06-28 17:52] marcoscaceres commented on #194
work in progress

[2013-06-28 18:11] marcoscaceres commented on #70
This is now clarified in the spec... the telephony service deals with it.

[2013-06-28 18:11] #70 closed, assigned to nobody

[2013-06-28 18:12] marcoscaceres commented on #176
Relates to #47

[2013-06-29 06:40] marcoscaceres opened #200 "serviceIds needs to be redefined as sequence"
See #81

[2013-06-29 06:41] marcoscaceres opened #201 "emergencyNumbers needs to become a sequence"
see #81

[2013-07-01 17:18] marcoscaceres opened #202 "Check that methods relying on promises must not throw synchronously"
Any method relying on promises need to catch exceptions and pass them to the error resolver.

This bug is really just to check that we are doing this properly. New bugs may spring off from this bug with actual fixes to the spec.

[2013-07-01 19:21] marcoscaceres opened #203 "Recommend a format for serviceID"
On the [mozilla lists](https://groups.google.com/forum/#!topic/mozilla.dev.webapi/bDOyYyKrkl0), the issue of the format for serviceID was raised with the following recommendation:

[2013-07-05 11:01] zolkis commented on #203
The spec should only mandate uniqueness of service id's in the device / call history. It should not mandate any particular format: the format is the responsibility and freedom of implementations.

In the examples above, prepending with "GSM" and "CDMA" does not guarantee uniqueness, since there may be multiple GSM services in the system.

If there is a recommendation that makes sense globally, we

[2013-07-07 00:18] marcoscaceres commented on #203
I agree that it should not mandate any format (i.e., no MUST). However, the question keeps coming up about what the RECOMMENDED identifiers one should use (I think I asked for guidance and now the Moz engineers also asked for guidance). We can add what you suggested to the spec to clarify this, but implementers do like having some kind of guidance about choosing ID format (as choosing the wrong ki

[2013-07-09 09:29] anssiko commented on #17
I think we may want to try code the use cases involving TelephonyCall against the API with and without a constructor, then test both the alternatives on actual web developers as @mounirlamouri mentioned Mozilla did for Web Activities. A cheap JS prototype would go a long way.

More generally, prototyping the [main] use cases against any API in code before polishing the spec fully may save us from

[2013-07-23 03:51] hsinyi opened #204 "Call waiting support on CDMA"
Hi all,

Mozilla has been working on CDMA support recently. And we found that due to the very difference in CDMA network technology, we need to expose an additional attribute 'secondNumber' to TelephonyCall for well addressing CDMA call waiting.

For more background and mozilla's solution, please see [1] and [2].
[1] https://bugzilla.mozilla.org/show_bug.cgi?id=822210#c34
[2] https://bugzilla.mozi

[2013-07-23 05:32] zolkis commented on #204
I agree this should be solved in the Telephony API, rather than in telephony middleware. I also agree that it should be solved by changing the TelephonyCall object with a new, specific property, and signal that change on the object through an event.

Then, based on the discussion I think there is a misunderstanding about the callschanged event. We need to update the spec to make it clear that it r

[2013-07-23 05:38] zolkis commented on #204
Another way to approach GSM vs CDMA differences would be to use different objects for them, i.e. extending TelephonyCall to TelephonyCallGsm and TelephonyCallCdma, respectively, with possibly different states, property list, and behaviour. Similary, ConferenceCall would be extended to ConferenceGsm, and ConferenceCdma, respectively.

[2013-08-22 12:34] zolkis commented on #189
Closing.

[2013-08-22 12:34] #189 closed, assigned to marcoscaceres

[2013-08-22 12:36] zolkis commented on #14
To be discussed on the F2F.

[2013-08-22 12:38] zolkis commented on #17
To be discussed on the F2F.

[2013-08-22 12:53] zolkis commented on #142
Isn't DTMF already standardized?
http://www.etsi.org/technologies-clusters/technologies/fixed-line-access/dtmf

[2013-08-22 12:59] zolkis commented on #196
Closing.

[2013-08-22 12:59] #196 closed, assigned to marcoscaceres

[2013-08-22 16:06] marcoscaceres commented on #142
Yeah, but it's more so we know how to deal with things like case handling, etc.... just make it easier to write tests for.

[2013-08-22 18:26] zolkis opened #205 "consider using telephony service objects"
Consider using explicit telephony service objects, exposing functionality specific to a service (SIM).
Connected to #203, #125, #128.
For the proposal, see:
https://etherpad.mozilla.org/O0KQaiKEhN

[2013-08-27 17:38] hsinyi opened #206 "MMI support in Telephony API"
Hi there,
I am opening this issue for discussing MMI support.

In Mozilla API, we have mozMobileConnection.sendMMI() to address MMI command. Having separate sendMMI() and dial() functions is good for context, but we realize that with separate APIs, the app, API user, needs to parse an input string following 3GPP spec. 22.030 before making a correct choice of API usage, dial() or sendMMI().

The ar

[2013-08-27 17:49] hsinyi opened #207 "Notification when calls array is ready even it's empty"
Learned from feedback from mozilla app developers, there needs a way to tell if the calls array is ready even the calls array is empty. Otherwise, how can they differentiate telephony.calls giving us an empty array because it's not ready from telephony.calls or giving us an empty array because there is no call?

The mozilla's solution is making use of the 'callschanged' event. We could just guaran

[2013-08-27 18:43] zolkis commented on #207
I'd agree with how you put it on the second sentence. Do you expect that the 'callschanged' event contain the call array (sequence)? It is expected to be a short array.

[2013-08-27 19:44] hsinyi commented on #207
In Mozilla's design, callschanged event type is TelephonyEvent containing a nullable TelephonyCall object. In the case of notifying calls array is ready, the callschanged event isn't carrying a call. Having a simple notification in the case should be fine.

[2013-08-27 19:49] zolkis commented on #206
A few background links:
MMI spec: http://www.etsi.org/deliver/etsi_ts/122000_122099/122030/10.00.00_60/ts_122030v100000p.pdf

The way e.g. oFono handles it:
https://github.com/intgr/ofono/blob/master/doc/mmi-codes.txt

If I understand right, the question is whether could we have a single "magical" method to which we give whatever the user types in, and which would determine whether the string is a

[2013-08-27 20:58] hsinyi commented on #205
Hi there,

Discussion mozilla had before:

[1] is the very original proposal from my side that looks similar to Zoltan's proposal for using telephony service objects
[2] and [3] are Jonas' reply to [1] and the reasons that we chose dial() with serviceId

[1] https://groups.google.com/forum/#!searchin/mozilla.dev.webapi/multi-sim/mozilla.dev.webapi/ZmFvU47eSvA/qbhQVF18mNwJ
[2] https://groups.google

[2013-08-28 13:57] hsinyi commented on #205
Mozilla's IccManager API: http://mxr.mozilla.org/mozilla-central/source/dom/icc/interfaces/

[2013-08-28 19:54] zolkis commented on #205
On one hand, there is the wish to have a simple API that can handle most of the developer use cases, on the other hand the API should be correctly aligned with how telephony works.

The developer use case is mainly writing a dialer. So the target developers are not in the range of millions, but rather in tens or hundreds, most likely familiar with telephony. It is a good goal to lower the threshol

[2013-09-05 13:31] zolkis commented on #205
See also https://groups.google.com/d/msg/mozilla.dev.webapi/1tPzEIftZ24/ZLdOQfpDLBIJ

[2013-09-06 03:32] hsinyi opened #208 "merge calls from different services/sim cards"
This is a real-world user story provided by some dual-sim devices, that user is able to merge a call from sim1 and another call from sim2 into a conference call. However, the current conference call API could merge calls all on a single telephony service only.

[2013-09-06 08:08] zolkis commented on #208
No, it is not the API implementation which does the merge, but the network. So it is up to the network whether the calls on the 2 SIM cards are joined. The API defines 'join' semantics, which is explained in the spec as joining all calls into a conference call. This includes the use case you mentioned. Please ack.

[2013-09-09 10:36] hsinyi commented on #208
If user is going to merge the two calls from two different carriers, how the carriers/networks know that? I asked other developers with experiences in dual-sim phone development. I was told that in this case, it's the API implementation to take care of that. But as you said, if 'createConference()' merges all calls even from different sim cards, then the API (serviceId version) indeed supports tha

[2013-09-09 12:46] zolkis commented on #208
Could you please share an AT command reference about the modem that can join simultaneous calls from different SIM cards? Then, based on what assumed network feature?

Even if a modem would do that (none I know of), it is not a wide spread feature in order to be included as an API for joining 2 given calls - and that API would make no sense in GSM, since you can only join "all calls", not 2 specif

[2013-09-09 15:47] zolkis commented on #208
The new draft on https://etherpad.mozilla.org/5AnQEPnpvI attempts to solve all these issues for me. It goes back to the older API style (specifying serviceId's), but still supports TelephonyService objects.
Conference handling has been changed. In this version, there is a unified way how to do conference calls, either in cellular use cases, multi-sim scenario, VoIP and hybrid client-side merge.

U

[2013-09-10 12:06] zolkis commented on #208
Yes, getCalls() returns now a sequence of Call objects - thanks for noticing it.

The use case you talk about was given as an example in my previous comment, at the end. If conference is supported, then all calls are joined.

If you want to do client-side-merge of just two calls (i.e. your desired merge(call1, call2) functionality), you could do it this way:

[code]

I think this satisfies the use

[2013-09-10 14:21] hsinyi commented on #208
Yup, I noticed your example at the end of the last comment after I sent out my comment. But I think you have revised the comment, haven't you? Anyway, sorry for not noticing the example before my previous comment :)

And I also support having only one entry point for creating a conference call. Thank you.

[2013-09-10 19:37] zolkis commented on #208
Thanks hsinyi - does this mean we could continue with this draft then? There are a few issues which need to be discussed, but this seems to work pretty well with most use cases - including extensibility for supporting other cellular functionality.

[2013-09-12 07:26] hsinyi commented on #208
Zoltan, yup, I am fine with the conference call proposal which meets our user story well. Let's continue. Thank you very much. :)

[2013-09-27 10:10] zolkis commented on #14
This still pending on broader discussion in SysApps.

[2013-09-27 10:14] zolkis commented on #17
Based on the F2F discussion, we leave the API as it is now, i.e. the dial() method creates a TelephonyObject.
I still leave the issue open, since the 2-phase constructor idea has not been explored with yet. Besides, comment https://github.com/sysapps/telephony/issues/17#issuecomment-20201347 is valid.

[2013-09-27 10:20] zolkis commented on #53
To conclude, I suggest including a clause that implementations MUST use a unique id for serviceId, which MUST NOT reveal information usable for fingerprinting. This is independent from whether to use TelephonyService objects or not. This is also valid for other unique id's used in this spec, and in SysApps in general.
@marcoscaceres please comment - should we also raise issues in other specs along

[2013-09-27 10:22] zolkis commented on #81
Could we use Promises returning a sequence of objects/id's?
Is it canonical to write`Promise<sequence<Call>>` ?

[2013-09-27 10:23] marcoscaceres commented on #81
No, there is currently no support for that in WebIDL

[2013-09-27 10:25] marcoscaceres commented on #53
It's a bit hard to say MUST here without actually providing a solution. An implementer might try to do that, but could still screw it up. There would also be no way of testing this for conformance. So, the only way to achieve this would be to actually provide some kind of format to obscure this information.

[2013-09-27 10:27] marcoscaceres commented on #14
So, system messages are going away in favor of ServiceWorker (or whatever the name will be in the end).

[2013-09-27 10:32] marcoscaceres commented on #17
WFM.

[2013-09-27 10:39] zolkis commented on #204
@hsinyi: any update on this?

I understand the solution you made in FxOS, but for standardization I would go with a slightly different approach: instead of mapping this out in the API, handle it in the API implementation.
In the use case you described, based on the spec the implementation should create a second TelephonyCall object (not in RIL), and record the user's choice of rejecting or accepti

[2013-09-29 01:24] hsinyi commented on #204
@zolkis,

I also think it's a great idea that API implementation handles it. However we didn't do that in mozilla API because we didn't get a method to determine which call is active.

Regarding accepting/rejecting a waiting call, it makes sense to me.
Regarding detecting a'active' call, would you please share more details about the audio detection in this case?

About one of the two calls (after

[2013-09-30 07:11] anssiko commented on #17
Ditto.

[2013-09-30 08:30] zolkis commented on #204
I guess the best effort method is to keep track of the user's choice (in TelephonyCall objects) and what has been told the RIL. So it's guesswork.

For the 'normal' course of actions with a single call, this gives just a hint, but probably won't help solving the waiting line case at all. There may be audio already in dialing phase (voicemail, etc), so the best an implementation could do is to cons

[2013-10-01 10:49] zolkis commented on #204
@hsinyi: expanding a bit on the previous. The call waiting flow in CDMA [1]:
1. The MSC sends a Flash with Information message to the BS to alert the MS that there is a call waiting.
2. The BS takes the information from the MSC and sends a Flash with Information message to the MS.
3a. The MS sends the Flash with Information message to the BS to indicate the acceptance of the second call.
3a.1. The

[2013-10-03 08:54] zolkis commented on #206
I propose we define the supported use cases in more detail. This also affects UX design, so we should NOT make assumptions about UX, but we have to take examples for the use cases. So, consider the following use case:
- user opens dialer application
- user starts to type
- (UX choice) when the string typed in so far matches an emergency number, the UI may change accordingly
- (UX choice) when the

[2013-10-30 08:48] zolkis commented on #17
I am reconsidering this issue, and also experimenting with using constructors.
See https://etherpad.mozilla.org/UVYBJXiOsP and (further development) https://etherpad.mozilla.org/cByqOalX3d

[2013-10-30 09:10] zolkis commented on #192
To update this, implementations MAY check on malformed numbers, but generally it depends on the telephony network what it accepts as a number. In case of an error, there is a disconnect reason.

If you mean that we should provide a mechanism that implementations could use for reporting early error findings, then yes, we can investigate that, e.g. a Promise could be returned for dial() method.

[2013-11-12 07:40] zolkis opened #212 "support for call history sync"
Requirement: a phone call should always be recorded in call history. Even if the system load is so high that an incoming call is not shown until timeout, the call should be recorded as a missed call (real use case, with measurements and proof).

There are 2 ways to mitigate:
1. ensure prioritization of the whole SW stack (related processes) up to the dialer/web runtime.
2. ensure prioritization of

[2013-11-13 10:59] hsinyi commented on #212
I am not sure I am following the whole issue. So, first of all I want to figure out the scenario:
1) Are we considering the case that more than one dialer app could be active at the same time?
2) Which of the followingsis the requirement this API would like to support?
    1. different dialer apps should see the same call history
    2. different dialer apps should maintain their own slice of call

[2013-11-13 11:37] zolkis commented on #212
@hsinyi

<pre>"1) Are we considering the case that more than
one dialer app could be active at the same time?"</pre>

Yes, there could be more dialers, handling different or overlapping telephony services (app choice).
Call history could be maintained per service or combined (platform /app choice).
Also, call history could be in system-level and app-level storage.
There may be only one dialer allo

[2013-11-29 21:16] zolkis commented on #205
See also #208 . During prototyping for that use case it turned out that using serviceId's made it easier to handle/implement /arbitrary call merges using the ConferenceCall object, and therefore it is the better choice for dial() type of methods. However, TelephonyService objects are needed for handling other cellular interfaces than call management, and for supporting various modem types. These c

[2014-02-20 02:47] hsinyi commented on #204
@zolkis thanks for this. After more internal discussion with mozilla ril team, I agree that we should move on as your previous suggestion.

Just one minor implementation issue: after the waiting call has been accepted, then no matter user hangs up either call, both calls are released eventually.

[2015-04-19 10:18] ShafkatShishir commented on #208
Hello  dear ZOlkis
Very informative and interesting topic I found in your conversation I am currently studying in ICT but going to take telephony for my project besides I got a project from odesk that one of the client wants to transfer 100+ calls from a single SIM!!! normally it is not possible but one of his competitor is doing thatthat . and I have seen the live traffic even I have tested which

[2016-05-31 08:22] #194 closed, assigned to nobody

[2016-05-31 08:22] #171 closed, assigned to nobody

[2016-05-31 08:23] zolkis commented on #194
Gardening? :)

[2016-05-31 08:24] marcoscaceres commented on #194
yep... closing things still assigned to me :) .... oh, so many memories